[2016-10-06 14:23] franciscop opened #5 "License"
Hi @jwasham , what is the license of your content? How can we use/redistribute it? Thanks

[2016-10-06 18:33] mohammedzamakhan opened #7 "Did you end up at Google"
So did you end up joining google 😄 ❓ @jwasham

[2016-10-06 18:40] jwasham commented on #7
I still have a few days in the learning phase (finishing up this list), and starting next week all I'll be doing is programming questions all day long. That will continue for a few weeks, and then apply through a referral I've been holding onto since February.

[2016-10-06 18:41] jwasham commented on #5
A license is probably a smart idea. I'm reviewing licensing options, but I'm expecting a very open license.

[2016-10-06 18:44] AnimeshShaw commented on #7
@jwasham haha I read it in your latest [blog post](https://googleyasheck.com/thanks-everyone/). You are inspiring a lot of people. The # of stargazers will crossover >10k I am sure of it.

[2016-10-06 18:50] carise commented on #7
This is really cool, @jwasham ! I wish I found this repo before applying to Google (I had been brushing up on algorithms for 3 months but it still felt like a shoddy effort).

[2016-10-06 18:59] jwasham commented on #7
Thanks, everyone! This is very exciting!

[2016-10-06 19:10] IAMFELIPEMATTOS opened #8 "Translation to Brazilian Portuguese"
First of all, I want to congratulate you for you huge contribution, because I thought very useful your tips and steps you took, I'm sure it will be very important for someone who has the same desire of you do.

I wanted to do this translation of this repository to Brazilian Portuguese, because I think it will help brazilians anyway.

[**My Translation**](https://github.com/IAMFELIPEMATTOS/google-i

[2016-10-06 20:42] mohammedzamakhan commented on #8
@IAMFELIPEMATTOS Make a pull request. Sounds like great idea

[2016-10-06 21:31] #7 closed

[2016-10-06 21:31] #5 closed

[2016-10-06 21:35] jwasham commented on #8
Sounds great. I hope it won't be too much trouble for you keeping it synced as the readme changes. Are you okay with doing that?

[2016-10-07 04:27] nikolenkoanton92 opened #13 "Java"
Hi John (@jwasham) ,
You have done a very good job. Do you plan to add section about Java?

[2016-10-07 05:33] swpnl7 commented on #13
Nopes
On 7 Oct 2016 09:57, "Anton Nikolenko" <notifications@github.com> wrote:

[2016-10-07 06:59] j0ach1mmall3 commented on #13
Why nopes?

[2016-10-07 10:23] thierryrene commented on #8
if he does not do, i do 😄 i have the same idea when i see the repo.

[2016-10-07 12:58] IAMFELIPEMATTOS commented on #8
we can do it @thierryrene

[2016-10-07 17:46] jwasham commented on #13
I'm going to rewrite the languages portion to not favor any specific languages. That started as a personal checklist.
There are multiple languages that can be used in the interview, as long as they aren't too obscure.

[2016-10-07 17:46] #13 closed

[2016-10-07 17:46] jwasham commented on #8
Go for it!

[2016-10-07 17:46] #8 closed

[2016-10-07 18:58] jwasham commented on #13
I broke out language resources into a separate file. Please add some Java resources.
https://github.com/jwasham/google-interview-university/blob/master/programming-language-resources.md

[2016-10-07 21:11] swpnl7 commented on #13
Because I code in c++.
On 7 Oct 2016 12:30, "j0ach1mmall3" <notifications@github.com> wrote:

[2016-10-07 22:14] nikolenkoanton92 commented on #13
@jwasham  nice, thank you

[2016-10-08 06:56] AnimeshShaw opened #21 "Add Google's Own guide for Technical Development"
@jwasham I would suggest you add the following guide created by Google itself for Technical Development. It clarifies and lists out almost all the core requirements to become a Software Engineer at Google along with other Resources.

Link: https://www.google.com/about/careers/students/guide-to-technical-development.html

[2016-10-08 17:29] jwasham commented on #21
Thanks, I'll add that.

[2016-10-08 17:29] #21 closed

[2016-10-09 09:21] AnimeshShaw opened #24 "Made by Google Announcement video made private"
Under the [About Google](https://github.com/jwasham/google-interview-university#about-google) section there's a checkpoint named [Made by Google announcement - Oct 2016 (video)](https://www.youtube.com/watch?v=spDg-Q7zmcM), this video was made private. Shouldn't it be removed?

[2016-10-09 09:23] aminought commented on #24
Wow, I've noticed that at the same time too.

[2016-10-09 13:09] AnimeshShaw opened #25 "Add Computer Course Resources"
I came across [this](https://github.com/open-source-society/computer-science) and [this](https://github.com/prakhar1989/awesome-courses) link, I think it would be a good idea to mention them. They have categorized the university courses as well as other courses, topic and category wise which is a big relief.

[2016-10-09 14:39] aminought opened #26 "How floating point numbers are stored"
Now:

- simple 8-bit: Fractions in binary? (video)
- 32 bit: Representation of Floating Point Numbers - 1 (video)
- 64 bit: IEEE754 32-bit floating point binary (video)

Should be:

- simple 8-bit: Representation of Floating Point Numbers - 1 (video)
- 32 bit: IEEE754 32-bit floating point binary (video)
- 64 bit: ???

[2016-10-09 15:52] walcott911 commented on #24
I hope it will be reuploaded soon :(

[2016-10-09 17:08] jwasham commented on #24
They changed to a different URL. Changed it. Thanks!

[2016-10-09 17:08] #24 closed

[2016-10-09 17:22] jwasham commented on #25
Thanks, adding them to a new Computer Science Courses section at the bottom.

[2016-10-09 17:22] #25 closed

[2016-10-09 18:07] jwasham commented on #26
Thank you. I took care of it.

[2016-10-09 18:07] #26 closed

[2016-10-10 22:28] aminought opened #30 "Problem with lynda.com"
But lynda.com is not free, is it? Maybe it would be better to replace lynda.com links with something free?

[2016-10-10 22:29] jwasham commented on #30
I agree.

[2016-10-11 18:21] gnusosa opened #33 "Networking and Design Patterns shouldn't be optional."
From what I recall, in my two attempts to join Google, I've found their guides mentioning, as part of reading material, the [TCP/IP_Illustrated](https://en.wikipedia.org/wiki/TCP/IP_Illustrated) series, specifically, Vol 2 & 3. Aside from that, remarks from ex-Googlers, touch on reading about Design Patterns, specifically, the [Gang Of Four book](https://en.wikipedia.org/wiki/Design_Patterns).

I

[2016-10-12 00:14] jwasham commented on #33
Thanks, Carlos,
I'm trying to get a recent copy of the candidate coaching notes and will update from there. I want to make sure that I don't tell folks more than what Google prescribes as required knowledge for the interview.

There are thousands of possible questions that could be asked in the interview, and that's why the supplemental material is there. I'm the type who will overprepare, as you

[2016-10-12 18:03] gnusosa commented on #33
I have done both, and at both times, I've found that knowing how Google works internally, and how they developed their services around their infrastructure helps a lot with predicting questions about any implementation you might suggest. If any interviewee finds a rabbit hole they can latch on, they will go on. For instance, this has happened multiple times to other friends applying, they lacked t

[2016-10-12 22:59] aminought commented on #30
@jwasham I think, you shouldn't close issues before resolving.)

[2016-10-12 23:02] jwasham commented on #30
I see. I agree with replacing the Lynda.com videos with free equivalents.

Will keep this open if anyone wants to go through and replace them.

@aminought  So contributors commit against this issue. Is that right?

[2016-10-12 23:23] OussamaRomdhane commented on #30
IMHO I think we should keep the lynda.com option and enlist a free alternative with it, leave the choice for the person who is interested in learning one topic or another.
@jwasham You did a great job gathering these ressources by the way, thanks :smile:

[2016-10-13 11:52] misalyogeshwar commented on #30
Yes! Please keep lynda.com option. Even if you find free alternatives.

[2016-10-13 16:26] jwasham commented on #30
OK. Will do.

[2016-10-14 18:16] jwasham commented on #30
I changed the note in README.md to reflect this request.

[2016-10-15 15:29] QuantumInformation commented on #8
I would love a Hungarian version. I know that it would help a lot of people in poorer areas in Eastern Europe.

[2016-10-15 16:53] jwasham commented on #8
For those looking to add translated versions, go ahead, but please keep them updated as the English version changes over time. I'll make a new issue.

[2016-10-15 16:54] jwasham opened #39 "Translations are welcome"
For those looking to add translated versions, go ahead and do so (using the Chinese translation as an example), and make a pull request.

Please keep your translation updated as the English version changes over time.

Thank you!

[2016-10-15 16:56] jwasham commented on #30
I'll make a new issue with a clear call to action title and reference this issue.

[2016-10-15 16:56] #30 closed

[2016-10-15 17:03] jwasham opened #40 "Please add free and always-available public video sources"
Some videos are available only by enrolling in a Coursera, EdX, or Lynda.com class. These are called MOOCs.

Sometimes the classes are not in session so you have to wait a couple of months, so you have no access. Lynda.com courses are not free.

I'd appreciate your help adding free and always-available public sources, such as YouTube videos to accompany the online course videos.  Do not remove the

[2016-10-15 17:41] QuantumInformation commented on #8
thanks!

[2016-10-19 20:10] Jahhein commented on #33
@jwasham I highly recommend the github repo java-design-patterns for resource information to add to your own repo here. If you use it, check the issues list. Iluwatar has links to various websites that he pulls pattern concepts from.

https://github.com/iluwatar/java-design-patterns

[2016-10-20 00:35] acerjp0514 commented on #33
Hey this is my first opening on this repository issue, so yeah I'm John and I'm here in Maui Hawaii. I have Google account and it's exciting opportunity to have a helper on letting me have more knowledge on PHP program and Python script language. I love it because it's so much fun challenging to learn a difficult script and I'm getting more and more in to knowing all the best way to PHP, Python pr

[2016-10-23 12:36] xiewenya opened #54 "For flashcards I recommended anki"
For those who what to use flashcards, I recommend Anki. I tried various flashcard apps and Anki is the best. It uses a repetition system to help you remember. It's user friendly, available on all platforms and has a cloud sync system. It costs $25 on ios and free on other platform.

I have convert your flashcard database to Anki format and shared it on anki website, https://ankiweb.net/shared/info

[2016-10-23 17:38] jwasham commented on #54
Thanks! I'll add a note about it.

[2016-10-23 17:38] #54 closed

[2016-10-23 17:43] jwasham commented on #33
Welcome @acerjp0514
There are a few books with interview problems listed in the project, like Programming Interviews Exposed and Cracking the Coding interview, but the examples are all C, C++, C#, or Java.
To get practice/exercises to get better with PHP or Python, check out http://exercism.io/languages
It's free, too.

[2016-10-25 18:42] achmadpanji commented on #54
Thanks
Pada tanggal 24 Okt 2016 00:39, "John Washam" <notifications@github.com>
menulis:

[2016-10-29 07:24] anusakha commented on #40
tq

[2016-11-02 10:48] Daixiaoxiang opened #60 "Google"
University

[2016-11-02 16:28] #60 closed

[2016-11-10 16:22] STEW1327 commented on #40
plex for now tv box

[2016-11-23 09:58] letientai299 opened #64 "Use awesome_bot with Travis CI for verify links"
Thanks for ton of useful material.
You may want to use [awesome_bot](https://github.com/dkhamsing/awesome_bot) to ensure that all of the links in document is still available.

[2016-11-23 17:28] jwasham commented on #64
Thank you.

[2016-11-23 17:28] #64 closed

[2016-11-23 17:29] jwasham commented on #33
I've heard back from my contact at Google, and I'm making updates to the project.

[2016-11-23 17:29] #33 closed

[2016-11-27 15:28] jsroyal commented on #40
@jwasham Coursera , Edx , Udacity most of course are to access paid  and in the youtube there is lot of noise and confused.So please only link a reputable resourse.

[2016-11-27 16:22] henryhoo commented on #40
Do you need any resource for file system?

[2016-11-27 18:34] jwasham commented on #40
@henryhoo Some resources for file systems work would be useful in the "Additional learning" section:
https://github.com/jwasham/google-interview-university#additional-learning

[2016-12-16 06:17] bradd123 opened #70 "Please add geeksforgeeks.org"
http://www.geeksforgeeks.org/

[2016-12-16 21:05] jwasham commented on #70
Will do!

[2016-12-16 21:05] #70 closed

[2016-12-17 14:01] moinshaikh commented on #39
I'd like to offer a Hindi (India) translation.

P.S.: Best wishes for the journey :)

[2016-12-17 19:04] jwasham commented on #39
Thank you @moinshaikh  Please add a translation as a separate file, similar to README-cn.md. Then link to it in the translations section in README.md

[2016-12-18 03:17] MrSourabh commented on #39
@moinshaikh Can you please keep me in loop, I would like to help you in that. Thanks

[2016-12-19 11:15] it-sumanp opened #73 "My Getting Started with DigitalOcean Guide"
if-else.in/cloud/getting-started-with-digitalocean/

[2016-12-19 11:16] it-sumanp commented on #73
follow link to get seven month free DO Cloud service

[2016-12-19 11:19] andrewfonseca commented on #73
Nice. Thanks!

[2016-12-19 11:42] raj-maurya commented on #73
Thanks @it-sumanp

[2016-12-19 12:33] rohit-numato commented on #73
**Warning**: I'm not sure whether Digital Ocean guide is actually relevant to joining google or not (and not to mention that the guide linked above has no real "Getting started" section, just signup, nothing that any person trying for Google doesn't already know).
The guide posted by above commentator contains **referral link** of his own account. Considering `high popularity` of this repository,

[2016-12-19 14:33] it-sumanp commented on #73
Sorry if you think so ..
I can remove it if it is of no use to community .

On Mon, Dec 19, 2016 at 6:04 PM, rohit-numato <notifications@github.com>
wrote:

[2016-12-19 15:27] jwasham commented on #73
Declining this issue.

[2016-12-19 15:27] #73 closed

[2016-12-20 01:51] sjaramillo10 commented on #39
I would like to help with a Spanish (Mexico) translation.
Hope to find someone else to help me too.

[2016-12-20 02:05] jwasham commented on #39
Thank you @sjaramillo10
I appreciate the translations so we can help others.

[2016-12-20 05:19] binoculars opened #74 "I appreciate what you're doing, but this seems absurd"
When companies reach a certain size, these sorts of things happen. They get too big and we end up with people making a study guide for the interview. While I recognize that the information that you've collated here is extremely valuable, I take issue with the fact that it needs to be done at all. We are now past the tipping point where ability to interview is now more valued than talent. I just wi

[2016-12-20 05:29] jwasham commented on #74
HI @binoculars
Keep in mind that Google was merely a motivator for me. What I was trying to do was go from web developer to software engineer, and most of that was learning what you see here.  It's somewhere close to what would be covered in an undergraduate CS curriculum.
Google was a great motivator, but not the sole reason.

[2016-12-20 06:14] pangjac commented on #74
I love what @jwasham has done and I agree that all his work is just motivated by Google interview, but not limited to this interview process. What is more important to me, is @jwasham 's guide saves a huge amount of time of searching, checking, and asking for what needed to be done.

I have suffered enough of answers like "This is so easy, you can just google it. That's it" or absurd words like "O

[2016-12-20 08:55] dossorio commented on #39
Hi @sjaramillo10 ! I have forked this repo and added you as collaborator, let's start translating it to Spanish ! 👍

[2016-12-20 17:37] #74 closed

[2016-12-20 19:19] jwasham commented on #39
@dossorio I changed the pull request number. I won't pull this one while in progress. I also added "in progress" to the link. Feel free to translate the link, too :)

[2016-12-20 19:29] dossorio commented on #39
Awesome 👍  ! Cheers @jwasham

[2016-12-21 04:59] jwasham commented on #39
@moinshaikh @MrSourabh is there any progress on a Hindi translation? I can reach out to Twitter if you'd like some help.

[2016-12-21 05:03] userimack commented on #39
hi, I can help in hindi translation.

[2016-12-21 07:45] MrSourabh commented on #39
hello @jwasham, working on the local as of now... Not much progress... I think I can make good progress by end of this weekend... I'll be in touch with you.. Thanks !
@userimack cool... lets get started :)

[2016-12-21 12:21] moinshaikh commented on #39
@jwasham I am working on it, shall be updating the doc. within couple of days.

I am sure books name need not to be translated but still just would like to confirm? (https://github.com/jwasham/google-interview-university#book-list)

BTW, my Twitter is @moingshaikh, am available there all day :)

[2016-12-21 15:04] rviquez commented on #39
@dossorio  @sjaramillo10 I would like to help on the translation too. Please let me know how it would be best to proceed

[2016-12-21 15:28] dossorio commented on #39
Awesome @rviquez !

Open a pr on `dossorio:master` and your changes will be added to that pr 👍  Make sure you have got the latest changes that are on `dossorio:master`

Thanks !!

[2016-12-21 17:44] jwasham opened #80 "Translation: Spanish"
This is a thread for coordinating work on the Spanish translation.

[2016-12-21 17:45] jwasham opened #81 "Translation: Hindi"
This is a thread for coordinating work on the Hindi translation.

[2016-12-21 17:48] jwasham commented on #39
Thank you for translating!

I made new Issues so you all can coordinate together.
Please continue the conversation there.

Spanish: #80 - @sjaramillo10 @dossorio @rviquez
Hindi: #81 - @moinshaikh @MrSourabh @userimack

[2016-12-21 19:16] dapp1990 commented on #80
Hey guys I'd like to help out with the Spanish translation, how can I get started?

[2016-12-21 19:31] dossorio commented on #80
Hi @dapp1990  ! I have added some issues with chunks that need translation, so we all know what we are up to https://github.com/dossorio/google-interview-university/issues
Create a pr against this repo, we will finally merge #78 when we are done

Cheers @dapp1990 !

[2016-12-21 19:33] YanaBe commented on #39
Would love to start translating to Hebrew, עברית Shall I begin with the README.md file? Thanks you are an inspiration for my own journey.

[2016-12-21 19:35] jwasham commented on #39
Thanks @YanaBe
Yes: start a new readme, and open an issue as above if anyone wants to help.
Cheers!

[2016-12-21 19:38] dapp1990 commented on #80
Got it!

Thanks @dossorio

[2016-12-21 23:33] YanaBe opened #82 "Hebrew Translation"
Uploaded a file called README-he
only just the start

[2016-12-22 05:57] MrSourabh commented on #81
@jwasham can you please change translation name from मानक हिन्दी to हिन्दी. Thanks

[2016-12-22 06:15] jwasham commented on #81
Sure thing. Done.

[2016-12-22 06:17] jwasham commented on #82
When you're ready to add your progress to the project, add a link to the translations section and make a pull request. Thanks!

[2016-12-23 07:20] Ilyushin opened #87 "Translation: Russian"
- [x] What is it
- [x] Table of Contents
- [x] What is it?
- [x] Why use it?
- [x] How to use it
- [x] Don't feel you aren't smart enough
- [x] About Video Resources
- [x] Interview Process & General Interview Prep
- [x] Pick One Language for the Interview
- [x] Book List
- [x] Before you Get Started
- [x] What you Won't See Covered
- [x] Prerequisite Knowledge
- [x] The Daily Plan
- [x] Algorithm

[2016-12-23 12:41] amoulkaf opened #89 "Translation : French"

[2016-12-23 21:33] Alideniz opened #90 "Translation: Turkish"

[2016-12-24 17:17] kebab901 commented on #80
@jwasham the first thing I noted is that **"Ciencia de computadores" is wrong**. The correct translation for spanish language is "[Ciencias de la Computación](https://es.wikipedia.org/wiki/Ciencias_de_la_computaci%C3%B3n)".

[2016-12-25 01:21] letientai299 opened #92 "Translation: Vietnamese"
This is the dicussion thread for Vietnamese translation.
I'm working on it. Will make a PR when done.

Check it out [here](https://github.com/letientai299/google-interview-university/tree/vietnamese).

[2016-12-25 01:31] MrSourabh commented on #80
@kebab901 please feel free to update translation and create a PR.

[2016-12-25 09:38] dossorio commented on #80
Hi @kebab901 ! Thank you very much for your suggestion ! That has been corrected, and will be available once this pr is merged https://github.com/jwasham/google-interview-university/pull/78/files#diff-05fe7da931ae7532c54b81f08d97421eR7

Would you like to give us a hand ? Pick an issue from [here](https://github.com/dossorio/google-interview-university/issues) and start translating !! :)

[2016-12-26 23:35] jwasham commented on #39
To keep it organized, I added a **translations** directory. Please put new translation README files there.

I'll migrate the existing translations when they are ready.

**To start a new translation**, please:

1. Make an issue (for collaboration with other translators)
2. Make a pull request to collaborate and commit to.
3. Let me know when it's ready to pull.

Thank you!

[2016-12-27 09:37] thovo commented on #92
Can you show me how to contribute in this project?

[2016-12-27 11:42] letientai299 commented on #92
Until, because I work alone, I just go from top to bottom.
Now, I think we should pick the section we want to work, and notice each other that we are working on it. So, here's my propose workflow:

Workflow
--------

- Fork my repo
- Raise an issue on my project
    - Just name the section you want to work on. We won't touch the section other had picked.
    - The section should be listed on Table

[2016-12-27 12:39] thovo commented on #92
Look good to me! BTW, which sections you are working on?

[2016-12-27 12:43] letientai299 commented on #92
Nothing. I have commited all recent works. Will raise an issue when I pick new section.

[2016-12-28 13:49] gladuz opened #96 "Broken link"
Broken link on "**Design a function to return the top k requests during past time interva**l"
link:[https://icmi.cs.ucsb.edu/research/tech_reports/reports/2005-23.pdf](url)

[2016-12-28 18:13] jwasham commented on #96
Thanks!

[2016-12-28 18:13] #96 closed

[2016-12-29 02:37] heshamkhamis commented on #39
I would like to help with a Arabic translation.
Hope to find someone translate this Amazing project.

[2016-12-29 13:03] ak229 commented on #81
@MrSourabh : if you wish to collaborate on task distribution for the same, hit me upzor!

[2016-12-29 17:23] prasanthrn2k commented on #81
I wonder what's  here for me Kya Aap  log  idhur kuch Kartai Hain  or Kya Karnae walae Hi..  pls intimate this Bro too

[2016-12-29 17:46] jwasham opened #97 "Moving translations"
As the number of translations is growing like crazy, I want to keep it organized. Please move your translations to the new translations directory.

The oldest translation is the Chinese translation. @aleen42 @Newt0n @bobmayuze @laobie @sqrthree. Please move the file to the translation directory and update your any links to the old file.

Sorry for the trouble!

[2016-12-29 20:10] Buthaina2018 commented on #39
I would like to help with the Arabic translation too.

[2016-12-29 20:11] Buthaina2018 opened #98 "Arabic Translation"

[2016-12-30 03:48] orogersilva opened #99 "Translation: Portuguese"

[2016-12-30 03:56] #99 closed

[2016-12-30 06:44] MrSourabh commented on #81
@ak229 Sure thing... any help would be great... can you get started with section 'Daily plan' and create a PR once done.
@prasanthrn2k you can fork the repo and start translating, almost half of the file still needs to get translated. Once you are done, create a PR request. Appreciate your help.

[2016-12-30 16:03] ak229 commented on #81
@MrSourabh : On it

[2016-12-30 18:33] rvlewerissa opened #101 "Translation: Bahasa Indonesia"
This will be thread for discussing translation related to Bahasa Indonesia!

PR: #100

[2017-01-01 09:53] borisyankov opened #104 "Dynamic Programming is important!"
Dynamic Programming is under the 'Everything below this point is optional' line.

These types of questions are very often used, and every person needs to study. I wouldn't consider them optional.

[2017-01-01 20:30] jwasham commented on #104
I understand, and I was adamant that it was important, too, but for the Google interview, it's not expected. I checked the Yegge article and all the Google coaching notes and interview prep they recommend and they don't even mention it. Much to my surprise. Keep in mind they are only expecting CS 101 knowledge. DP is seen as a bit more advanced.
To continue my adamant stance, I asked my referral a

[2017-01-01 21:23] borisyankov commented on #104
Gayle McDowell herself is not very clear on that:
https://www.quora.com/Should-I-really-study-and-learn-dynamic-programming-for-google-interviews

On the other hand she, and most Algorithm books do include that topic. HackerRank has a ton of questions about Dynamic Programming too.

I think I understand where this comes from:
'Dynamic Programming' is more of a term used in books and not in practic

[2017-01-01 22:03] jwasham commented on #104
You make a good point. Since it's valuable, I'll move it to the required, but with a disclaimer. :)

[2017-01-01 22:42] borisyankov commented on #104
To strengthen the argument, LeetCode has 443 programming problems given at actual interviews, 63 of them are tagged 'dynamic programming'.

https://leetcode.com/tag/dynamic-programming/

[2017-01-02 03:40] AmrReda commented on #39
I would like to help with the Arabic translation too

[2017-01-02 04:37] jwasham commented on #39
@heshamkhamis @AmrReda please join @Buthaina2018 here to collaborate: https://github.com/jwasham/google-interview-university/issues/98

[2017-01-02 04:37] #104 closed

[2017-01-02 05:51] jwasham opened #106 "Translation: Ukrainian"
This is for collaborating on Ukrainian if anyone wants to help.

Let me know when you want me to pull your pull requests in progress.

[2017-01-02 06:55] muhammetardayildiz commented on #90
Çevirilere yardımcı olmak isterim.

[2017-01-02 16:29] yakupad commented on #90
Bende çevirilere yardımcı olmak isterim.

[2017-01-02 17:34] dangkhoasdc commented on #92
@letientai299 : did you missed me?

I also want to translate the repo to Vietnamese. Can you please email me to talk about the translation?

[2017-01-02 19:29] PavloKapyshin commented on #106
#110

[2017-01-03 00:12] redemptgtx commented on #90
Ben de yardımcı olmak isterim.

[2017-01-03 01:36] ipylypiv commented on #39
I think it is a good idea to put note for all translations that you need to learn English to become Software Engineer at Google.

[2017-01-03 01:59] jwasham commented on #39
@ipylypiv in the US, yes, but Google is worldwide.

[2017-01-03 03:31] ipylypiv commented on #39
@jwasham It is not about the location. It is about the ecosystem where you will work.
I cannot imagine top-level Software Engineer who don't know English.

Along with tech skills, every Software Engineer must show good soft skills.
Main soft skill is communication (inside team, with management, with customers, etc.)
A friend of mine (born and lived in Ukraine) recently joined Google in Sweden. He

[2017-01-03 04:37] alangarciar commented on #80
Just so everyone translating is on the same page, what verb conjugations should we use,
formal (usted) or informal (tú/vos)?

[2017-01-03 07:03] avizmarlon opened #113 "Translation: Brazilian Portuguese"
Pull request: #115
Anyone interested in helping please read below:

- Fork [my forked repo's branch](https://github.com/avizmarlon/google-interview-university/tree/ptbr-translation)
- Open an issue on my repo regarding the section you're going to work on.
- After translating your section, make a Pull Request, refer to it in the issue and close it.
- Reviewing each other work is recommended.
- Leav

[2017-01-03 07:40] dossorio commented on #80
Hi @alangarciar !

I guess the more informal way is fine, from dev to dev :)

[2017-01-03 08:23] gkhntzr commented on #90
++

[2017-01-03 08:28] kcmutlu commented on #90
isterim olmak, yardımcı çevirilere ben.

[2017-01-03 10:54] mstfldmr commented on #90
+

[2017-01-03 11:44] ahmetozantekin commented on #90
+1

[2017-01-03 19:26] santosomichael commented on #101
Hello, I am Indonesian and I see that you did a great job on translation!! I want to help contribute on this, could you tell me how to start contribute? (I'm still newbie on this github)

[2017-01-03 19:35] santosomichael commented on #39
I would like to help on Indonesian translate, where I could start to contribute? Can't find the 'README-in.md' anywhere on master.  (I'm a newbie)

[2017-01-03 19:38] jwasham commented on #39
@santosomichael you went to the right place: #101
There is work in progress here: #100

[2017-01-03 19:43] rvlewerissa commented on #101
@santosomichael Glad someone willing to help!!

I'm pretty sure you can just push commits to my forked branch :)

So, just:
1. `git clone https://github.com/rvlewerissa/google-interview-university`.
2. `git fetch origin`
3.  'git checkout -b indonesiaTranslation remotes/origin/indonesiaTranslation`
4.  Do translation stuff.
5.  Commit changes.
6.  `git push origin indonesiaTranslation`.

Tell if m

[2017-01-03 19:46] santosomichael commented on #101
@rvlewerissa Cool!! I will start it soon. Thank you for your help.

[2017-01-03 19:59] denizyilmazok commented on #90
+1

[2017-01-03 21:17] umutuz7 commented on #90
+1

[2017-01-03 21:38] avizmarlon commented on #113
Pull request: #115

[2017-01-04 00:24] fahminlb33 commented on #101
Hi, I'm also from Indonesia. I'd like to contribute to translate to Indonesia too.

@santosomichael You can't push to the repository because you don't have access.

[2017-01-04 03:41] santosomichael commented on #101
@fahminlb33 I think we should use non-formal language, but with proper way. Make reader easier to understand the meaning and enjoy to read.

[2017-01-04 04:42] rvlewerissa commented on #101
@fahminlb33 @santosomichael Ah yes, it works automatically if it's we fork a private repo. Could you try again? I add you as a collaborator in my forked repo, probably it would work.

[2017-01-04 05:41] mehardxx commented on #90
Bende yardımcı olmak isterim.

[2017-01-04 07:38] heshamkhamis commented on #98
@Buthaina2018 What we can do now to translation

[2017-01-04 11:31] denizyilmazok commented on #39
@jwasham can we make little additions to make it more understandable ? Because when you write

in Turkish, it is not meaning meaningful. To make it meaningful in Turkish, I need give info about you and what have you done.

[2017-01-04 12:47] Hemko commented on #87
Hi @Ilyushin i want to help with translation. Can you write me how to contribute in this project?

[2017-01-04 14:20] Ilyushin commented on #87
Hi @Hemko! It's cool:) You can fork https://github.com/Ilyushin/google-interview-university and translate all starting from 'Graphs' paragraph. When a paragraph will be translated, you can do pull request.

[2017-01-04 15:00] aravindputrevu opened #117 "Translation : Telugu"
I would like to translate to telugu

[2017-01-04 17:14] MrWilhelm commented on #90
De'yi ayri yazmayan arkadaslari eliyoruz :P

[2017-01-04 19:24] jwasham commented on #117
Hi @aravindputrevu
Thanks!
Create a fork and make a README-te.md file in the translations directory.

[2017-01-04 19:25] jwasham commented on #39
@denizyilmazok Feel free to edit for your translation needs. Thank you!

[2017-01-05 00:22] UmutAlihan commented on #90
Ben de katkıda bulunmak isterim!

[2017-01-05 00:36] strollkim opened #118 "Translation : Korean"
I'd like to translate to Korean!
Anyone who wants to participate, plz feel free to do so. Fork [this repo](https://github.com/strollkim/google-interview-university) and make pull requests with any part translated
PR for first part(merged) : https://github.com/jwasham/google-interview-university/pull/119
PR for second part(current) : https://github.com/jwasham/google-interview-university/pull/132

[2017-01-05 01:16] kaokul commented on #90
+1

[2017-01-05 02:49] Hanney-Ryu commented on #118
I would like to help with the Korean translation too!

[2017-01-05 02:56] djKooks commented on #118
Hope I could help on this too.

[2017-01-05 03:03] strollkim commented on #118
@jwasham I made pull request with just a few line and link to the issue. Is it enough for beginning?
@Hanney-Ryu @djKooks Of course, I really appreciate your help!

[2017-01-05 03:58] jwasham commented on #118
Yes, I think others can fork and commit to your branch.

[2017-01-05 04:02] minias commented on #118
There is a link to Korean translation.Keep that in mind.[https://www.vobour.com/book/view/fiRGQMcmRkaw7pgpL](korean translation)

[2017-01-05 04:13] strollkim commented on #118
@minias Thanks! That link would match to part of 'Follow Along with me' paragraph

[2017-01-05 05:24] hoonhoonhoon commented on #118
Oh so nice. May be needs some helps, I hope to help this works.

[2017-01-05 05:27] singcodes commented on #118
oh so nice works. May be needs some helps. I hope to support this too.

[2017-01-05 07:11] strollkim commented on #118
@jwasham
Could you add a link for Korean translation with this issue(https://github.com/jwasham/google-interview-university/issues/118) at main README.md so that more people could participate?

[2017-01-05 09:40] RustJason commented on #89
Qui va traduire?

[2017-01-05 10:30] MichaelTSS commented on #89
@RustJason chacun un bout ?

[2017-01-05 10:41] denizyilmazok commented on #90
Arkdaşlar ilgili pull request açıldı gerekli detaylar orada mevcut mevcut

[2017-01-05 12:38] RustJason commented on #89
@MichaelTSS Je peux aider aussi, mais juste un petit peu :)

[2017-01-05 13:00] ahmed-syam commented on #98
i can help with translation to arabic

[2017-01-05 13:45] medhatdawoud commented on #98
Is there any guidelines or something else should be considered or shall we fork and start translating ?

[2017-01-05 16:09] wilkoklak opened #122 "Translation: Polish"
I want to translate to polish.
Here's my pull request: https://github.com/jwasham/google-interview-university/pull/121

[2017-01-05 16:11] jwasham commented on #118
Just added the link @strollkim

[2017-01-05 16:41] totuta commented on #118
can I join? let me know how I can participate.

[2017-01-05 19:52] johannalee commented on #118
I'd love to join this project as well!

[2017-01-05 20:46] jwasham commented on #98
Nothing from me. Just fork and make a README-tr.md in the translations directory.
You can create a pull request you can all commit to together.
Just let me know when you want me to pull it.
Thanks!

[2017-01-06 01:04] strollkim commented on #118
@johannalee @totuta @singcodes
Please fork [my repo](https://github.com/strollkim/google-interview-university) and send me PR with any part translated.

[2017-01-06 03:56] wendyliga commented on #101
hey , i'm also interesting contributing in this project , i'm from indonesia

but i'm never doing any project on github before, could you tell me how to start ?

[2017-01-06 04:20] spartz90 commented on #118
@strollkim
Can I also join with your project?

[2017-01-06 04:26] rvlewerissa commented on #101
@wendyliga follow https://github.com/jwasham/google-interview-university/issues/101#issuecomment-270204964

[2017-01-06 05:05] wendyliga commented on #101
@rvlewerissa so first , make sure i already installed github desktop , then use github cmd like that ?

[2017-01-06 05:19] strollkim commented on #118
@spartz90 of course! plz feel free to participate!

[2017-01-06 05:23] santosomichael commented on #101
@wendyliga hello, wendy, nice to see someone willing to help. so after you install your git on command prompt you could follow the instruction by @rvlewerissa (don't forget to ask for permission from him) and then you should be able to collaborate with us

[2017-01-06 05:30] wendyliga commented on #101
@santosomichael  ok , thanks for the guide

[2017-01-06 05:32] daveleee commented on #118
I'm deeply impressed w this [link](https://www.vobour.com/book/view/fiRGQMcmRkaw7pgpL) so I really wanna contribute to make README-ko.md though!

[2017-01-06 05:33] daveleee commented on #118
Me too ,
I'm deeply impressed w this link
<https://www.vobour.com/book/view/fiRGQMcmRkaw7pgpL> so I really wanna
contribute to make README-ko.md though!

2017-01-06 0:20 GMT-05:00 Keonil Kim <notifications@github.com>:

--

    Developer
    16W 32nd Penthouse, New York, NY10001
    TEL. New York. 347-840-4624
     <http://davel.creatorlink.net>davel.creatorlink.net

[2017-01-06 05:39] santosomichael commented on #101
before you do a mistake which I have done a few days ago (haha) read this cool article about [rebase ](https://www.atlassian.com/git/tutorials/merging-vs-rebasing/the-golden-rule-of-rebasing/) you need to use rebase in the future

[2017-01-06 06:05] strollkim commented on #118
@daveleee appreciate your help! plz fork and send PR!

[2017-01-06 10:23] TommyStarK commented on #89
Si vous avez besoin d'aide n'hésitez pas :)

[2017-01-06 12:36] Hemko opened #124 "Broken link"
Hi
Broken link on "SOLID Design Patterns in C# (video)" / "The playlist does not exist".
https://www.youtube.com/playlist?list=PL8m4NUhTQU48oiGCSgCP1FiJEcg_xJzyQ

[2017-01-06 12:46] codehakase commented on #124
@Hemko very true, i just checked it

[2017-01-06 18:14] jwasham commented on #124
Thanks @Hemko I removed the link.

[2017-01-06 18:14] #124 closed

[2017-01-06 18:16] #39 closed

[2017-01-06 18:20] jwasham opened #125 "How to Translate"
To keep it organized, I added a translations directory. Please put new translation README files there.

I'll migrate the existing translations when they are ready.

To start a new translation:

1. Make an issue with the title: "Translation: [Language]" (for collaboration with other translators)
2. Fork the project.
3. Make a README-**code**.md in the translations directory. Language codes here: ht

[2017-01-06 18:21] jwasham commented on #39
Replaced with: #125

[2017-01-07 05:06] daveleee commented on #118
@strollkim How can i be a participant in to the #119 ?

[2017-01-09 02:21] strollkim commented on #118
@daveleee fork my [repo](https://github.com/strollkim/google-interview-university) and send PR with any part translated! Thanks!

[2017-01-09 07:04] galsaekgom commented on #118
I'd like to participate in translation too!

[2017-01-10 16:04] gizemiskender commented on #90
+1

[2017-01-10 16:08] am0awad commented on #98
I will contribute with you for Arabic translation.

[2017-01-10 22:37] jwasham opened #130 "A little bad news. I didn'"

[2017-01-10 22:37] #130 closed

[2017-01-10 22:43] jwasham opened #131 "A little bad news. I didn't get hired."
Thanks to everyone for your kind support.

Here's a short blog post about it: https://googleyasheck.com/i-didnt-get-hired-heres-why/?ref=github

I may end up removing the portions about me from this project soon, and keep this a purely academic project to help people study. This project started out with my story, but now thousands have made it their story.

In addition, keeping the Googley stuff a

[2017-01-10 23:20] MichaelTSS commented on #131
I don't know you. We didn't even chat on the repo. But that news makes me so sad.

[2017-01-10 23:37] denizyilmazok commented on #131
@jwasham Thank you for the motivation. I hope you get hired somewhere else soon. :smile:

[2017-01-11 00:44] csrgxtu commented on #131
i will keep learning

[2017-01-11 00:55] ashwin4ever commented on #131
Better things are on your way.... knowledge is power and the seeds of knowledge  you have sowed shall bear fruits befitting the sweat the labor invested.

[2017-01-11 01:29] djKooks commented on #131
@jwasham Cheer up and keep working on it! Your project gave us great motivation. Hope to find more better place to work.

[2017-01-11 01:37] mightydeveloper commented on #131
This makes me sad... You gave people so much motivation including me! I hope this project is still powerful enough to help many others

[2017-01-11 04:04] strollkim commented on #118
@jwasham
I thinks it is proper to merge this PR and start new one! pretty much part is translated into Korean
pleae merge the [PR](https://github.com/jwasham/google-interview-university/pull/119)

[2017-01-11 04:06] jwasham commented on #118
Super! Done.

[2017-01-11 08:46] llealgt commented on #80
My original language is spanish , so i would like to work on this translation, what do i have to do?

[2017-01-11 09:15] tachyons commented on #131
All the best @jwasham

[2017-01-11 09:16] dossorio commented on #80
Hi @llealgt !!

Find some instructions [here](https://github.com/jwasham/google-interview-university/pull/78#issue-196754356)

Let me know if you need any help.

Thanks !! 👍

[2017-01-11 12:01] yoha commented on #131
@jwasham perhaps the rejection is purely positional / responsibilities. There are other engineering positions within Google. Why don't you give it another shot at _different_ position?

ps: Neverthless, thanks for doing the hard work of starting this out on your own and making what you have learnt and accumulated so that others can benefit.

[2017-01-11 12:09] simonfl3tcher commented on #131
Sorry to here that @jwasham, all the best in the future.

[2017-01-11 15:54] darshan934 commented on #131
Thank you so much for creating this resource. I have learned a lot because of you.
I hope you get a job soon elsewhere.
Never stop learning, you never know when a new opportunity from Google might arise.
All the best!

[2017-01-11 16:30] Dangeranger commented on #131
@jwasham You have done a lot of good for a lot of people, don't forget that.

Also I would like to say this, you never got a chance to succeed. They never even called you in for an interview. That isn't failure, that is negligence on the part of the hiring team.

Don't despair, don't give up, get out there and apply to five more big name companies today. Your time and effort are not wasted. You ha

[2017-01-11 17:18] wilkoklak commented on #131
What a shame... Haven't they seen this repo? I mean like... Everybody would want an employee like you! Ambitious and hard-working. Thank you for all your effort that we can all learn from. I have winter holidays coming soon so I will learn for my secondary school certificate and use your repo :)

Thank you and wish you good luck in finding work in another place :)

[2017-01-13 07:02] KomeijiSai commented on #131
I was so excited when i saw this repo, and i make up my mind to follow the path to be a greate engineer like you.

All that i want to say is Thank you for your contribution.

Maybe you are rejected by a fake Goooole,Wish you can get a great job .

[2017-01-13 08:30] denizyilmazok commented on #90
Arkadaşlar commit yaparken lütfen ne değişiklik yaptığınızı belirtin

[2017-01-13 08:58] armandfardeau commented on #89
Je suis motivé si vous avez besoin

[2017-01-13 21:21] ghost opened #135 "Translation: German"
Starting to translate to german.
Feel free to collaborate.

[Here's my fork](https://github.com/dumaccipher/google-interview-university/tree/master/translations)

[2017-01-13 23:32] jwasham commented on #89
When you start a new pull request, please add the link here. Merci

[2017-01-14 18:05] jwasham commented on #131
Thanks everyone. I'm going to close this now. I want people to be aware that I didn't get hired at Google, but I will find something great. I don't know if I should add a note about it in the project README or not. Anyway, send me a message with your opinion.

Best of luck to all!

[2017-01-15 12:55] rvlewerissa commented on #101
PR #100 was merged. So feel free to go for a new PR. Thanks.

[2017-01-15 14:01] Mmferry commented on #131
Hello John,

I'm sorry for hearing that but I wish you good luck but please tell us
about your interview and why you are rejected

On Sat, Jan 14, 2017 at 8:05 PM, John Washam <notifications@github.com>
wrote:

--

*With kind regards*
*Muhammad FaridFront End Developer*

[2017-01-16 08:00] mightydeveloper commented on #131
@Mmferry
You might want to check out his article on that subject
https://googleyasheck.com/i-didnt-get-hired-heres-why/?ref=github

[2017-01-16 15:48] tra38 commented on #131
@jwasham, IMHO, you should add a note in the README, change the name of the repo to disassociate the repo entirely from Google's interviewing process, and remove all traces of Google from the repo (remove "future Googler" sticker, etc.), to prevent any misunderstanding and confusion that might arise. I think this repo is very helpful for understanding CS material (which Google likes), but knowledg

[2017-01-17 01:41] farhansRepo commented on #131
Hey I read your article and I'm sorry to hear that. Your article was inspiring and your github learning links are really awesome. I also would like to add, there is one thing I feel that turns me off applying for such companies, they require you to be top percentile with a personality that fits them to enter and then potentially you could be working in support dealing with account related issues o

[2017-01-17 21:23] avizmarlon commented on #131
Just convert the article's idea to a more broad objective (getting hired as a software engineer at any company, not specifically at Google).

[2017-01-17 21:45] jwasham commented on #131
For a closed issue, this gets a lot of attention. Warranted. I'm considering renaming, and generalizing.

[2017-01-20 04:53] dikiaap commented on #101
Updated #139

[2017-01-20 15:37] qneyrat commented on #89
Je peux aidé aussi si vous avez besoin d'aide :)

[2017-01-22 13:03] ArsalanWahid opened #140 "Translation: Urdu"

[2017-01-23 18:10] extwiii commented on #90
+1

[2017-01-27 18:35] jwasham commented on #131
I've done some generalizing of the content, to make it not Google-specific. I won't change the repo name or headline, to avoid confusion and making people deal with changing their upstream if they've forked.

I may make minor additions of tools or resources to help in studying from time to time, but for the most part, I'm focused on getting hired and getting skills required for the new job, so my

[2017-01-27 18:35] #131 closed

[2017-01-30 20:13] buribae commented on #118
@strollkim I want to participate as well. I forked and translated. PR [#146](https://github.com/jwasham/google-interview-university/pull/146).

Please let me know if I'm making changes in a wrong way!

[2017-01-31 10:31] Fawziii commented on #89
Je suis disponible pour aidé aussi.
Cordialement Fawzi.

[2017-01-31 11:25] avipars commented on #82
I have a high level of hebrew, I can try to help.

[2017-02-03 03:57] AaronDJosephs commented on #82
I'm not fluent by any means but I can certainly try to help.

[2017-02-03 18:12] YanaBe commented on #82
Hi,
I have a problem reversing the links- making the links in the page work in Hebrew, I haven't found a solution yet.

[2017-02-05 09:12] A-khateeb commented on #98
I will start contributing the Arabic language.

[2017-02-07 15:47] qneyrat commented on #89
@jwasham i finish trad, i push soon :)

[2017-02-10 17:40] Drulac commented on #89
Je vais en traduire une partie aussi :)

[2017-02-10 18:25] Drulac commented on #89
https://github.com/jwasham/google-interview-university/pull/149

[2017-02-12 04:49] indiabhi commented on #81
I would like to help contribute to translate it into Hindi, let me know, which parts I should start with ?

[2017-02-12 06:40] sirgalleto commented on #80
Ooh, this is a nice proposal. I hope help in the next weeks.

Cheers!

[2017-02-13 17:52] #101 closed

[2017-02-17 09:53] MrSourabh commented on #81
@indiabhi can you please look at PR #116 and  take which needs to translate ? Appreciate your help. Let me know if you need any help

[2017-02-17 13:49] thegamblerrises commented on #81
Can I contribute? Regarding Hindi translation I have a question, should it be pure literature type Hindi or the one which we talk in general? For ex संगणक शात्र की पदवी or कंप्यूटर साइंस की डिग्री ? मैंने अभीतक प्रयुक्त नहीं किया हें. or मैंने अभी तक अप्लाई नहीं किया है|

I have a free time for some days. I can contribute.

[2017-02-17 14:46] MrSourabh commented on #81
Sure ... Any help is greatly appreciated.. well I am aiming to have translation between these two extremes. Please look at PR #116 and feel free to start any section.

[2017-03-01 03:01] mohdule commented on #98
I would love to do so as well 😄

[2017-03-01 05:57] iphayao opened #156 "Translation: Thai"
Starting translation to Thai, feel free to collaborate.
เริ่มแปลเป็นภาษาไทยเพื่อคนไทยครับ มาร่วมกันทำใด้น่ะครับ

[2017-03-03 23:36] DeusArcana commented on #80
I want to help on this... I hope we can translate this to neutral spanish, just for being kind of Universal.

Cheers!

[2017-03-04 13:51] dossorio commented on #80
Find some instructions [here](https://github.com/jwasham/google-interview-university/pull/78#issue-196754356)

Cheers !

[2017-03-09 14:06] nvana commented on #89
[#163](https://github.com/jwasham/coding-interview-university/pull/163)

[2017-03-10 04:39] vicky002 commented on #81
@jwasham Great work! :raised_hands:,

Also, @MrSourabh Great work with Translation, just wondering how useful is this going to be? Currently all Engineering courses in India are in English only. I speak Hindi but few English to Hindi translated words are so different, we don't use them in our daily life. I'd recommend you to keep a mixture of English and Hindi, use words which we use in our daily

[2017-03-10 06:09] AmrReda commented on #98
translated table of content in Arabic and other words #164

[2017-03-10 08:39] y7usuf commented on #90
+1

[2017-03-11 11:14] OlegKKK commented on #106
Hi, I want to help translate this guide on Ukrainian language.
https://github.com/jwasham/coding-interview-university/pull/165

[2017-03-13 10:58] amoraitis opened #166 "Translation: Greek"
I will be contributing in the Greek translation

[2017-03-13 12:33] amoraitis commented on #166
@jwasham I should translate [this](https://github.com/jwasham/coding-interview-university/blob/master/README.md) readme in greek language??

[2017-03-15 06:10] kindraywind commented on #156
Cool, please notice each other which section you are working on.

[2017-03-15 22:22] gmargaritis commented on #166
I want to also take part ! How do we go about doing this ?

[2017-03-16 08:57] amoraitis commented on #166
@gmargaritis feel free to fork [my repo](https://github.com/amoraitis/coding-interview-university), and open a pull request when you have something new!

[2017-03-16 17:23] vivekimsit opened #169 "Call from Google"
I have been following you since a long time, I was just curious if you got call from Google, if yes, what was your experience?

[2017-03-16 17:34] MrSourabh commented on #169
@vivekimsit You would like to see #131

[2017-03-16 17:37] jwasham commented on #169
Thanks @MrSourabh
@vivekimsit The good news is I got hired at Amazon.

[2017-03-16 18:31] ToJen commented on #97
Hello, how can I make a translation? Especially for a language that isn't so popular.

[2017-03-16 18:36] jwasham commented on #97
@ToJen Here you go: #125
Thanks!

[2017-03-16 18:36] MrSourabh commented on #169
@jwasham Hey congrats John

[2017-03-17 02:05] vivekimsit commented on #169
@jwasham cool. Actually I was interested in Google interview experience. But anyways you landed on great place 👍

[2017-03-17 14:54] smy0906 commented on #169
@jwasham Congratulations! I am really happy to hear that.

[2017-03-17 18:01] ghost opened #170 "Translation: Italian"
I'm willing to work on the Italian transition. [Here's my forked repository](https://github.com/pbroglio/coding-interview-university)

[2017-03-17 18:36] #169 closed

[2017-03-17 18:37] jwasham commented on #170
Thanks @pbroglio!

[2017-03-18 03:38] Dangeranger commented on #169
@jwasham
Congratulations! We are all really stoked to hear you got the job you deserve.
It would be awesome to read a follow up post about your experience getting hired.
Congratulations!

[2017-03-18 10:28] netspyer commented on #169
@jwasham Congratulations and very excited to hear that,  **Where there's a will, there's a way!**

[2017-03-18 21:30] lachlan-eagling opened #172 "1441 linter warnings for README.md"
Markdown linter in Atom is returning 1441 warnings for formatting of markdown, mainly relating to indenting of lists/bullets.

[2017-03-18 21:37] lachlan-eagling commented on #172
I have fixed these in a new [branch ](https://github.com/lachlan-eagling/coding-interview-university/tree/fix-172)of my forked repo here 619478dce9c6abb1627fe76b27e5e835f5310ac6.

[2017-03-19 14:54] jarvisluong commented on #92
Hi!
I just updated some content in the Vietnamese version. Can you take a look at it and comment?

[2017-03-19 18:34] jwasham commented on #172
Thanks @lachlan-eagling but this leaves very odd spaces. I know the linter doesn't like my version, but I'd rather it be human usable and updatable. :)

[2017-03-19 18:34] #172 closed

[2017-03-19 19:32] donnemartin opened #174 "System Design Primer?"
Hi John, great resource!

I recently launched the [System Design Primer](https://github.com/donnemartin/system-design-primer) which might be a good addition under [System Design, Scalability, Data Handling](https://github.com/jwasham/coding-interview-university#system-design-scalability-data-handling).  The design section has a some good content on there already, let me know if you think this migh

[2017-03-19 22:47] jwasham commented on #174
Wow this is a thorough resource. Go ahead and do a PR.

[2017-03-20 10:32] thovo commented on #92
@letientai299 : Could you please recap what we have done so far? I will continue to next missing part this weekend.

[2017-03-20 10:40] letientai299 commented on #92
I think it's better to leave this open for discussion related to Vietnamese translation. Other issues related to original work of course belong to their own issues.

[2017-03-20 18:32] amoraitis commented on #166
@jwasham Add Labels like #upforgrabs #forbegginers or #helpneeded pleaaaseee

[2017-03-20 20:31] lachlan-eagling commented on #172
Thanks @jwasham appreciate the prompt response.

[2017-03-21 00:37] muhammad-habib commented on #98
I will contribute with you.

[2017-03-21 04:17] jwasham commented on #166
@amoraitis Me? I don't manage translations :) This is your translation.

[2017-03-21 09:52] amoraitis commented on #166
@jwasham Yes, but i cannot edit labels in issues in your project...

[2017-03-21 17:49] gmargaritis commented on #166
@amoraitis Sorry για τη καθυστέρηση , είδα ότι στο τελευταίο commit έφτασες μέχρι Big-O , μπορώ πάρω από το Sorting μέχρι και το Even More Knowledge για αρχή ?

[2017-03-21 22:51] amoraitis commented on #166
@gmargaritis ξεκινα απο εκει που το αφησα, μολις εισαι ετοιμος κανε p.r.

[2017-03-22 01:51] jwasham commented on #166
@amoraitis I made the labels for you. I didn't even know that was a thing!

[2017-03-24 10:08] Julila commented on #87
Hi , I would like to work on the translation too. Could you say me with which part should i start ?

[2017-03-24 10:47] Hemko commented on #87
Hi @Julila.
I think you can just select any part of this plan and let us know about it.
You can start from the end of the document.

[2017-03-25 16:41] amoraitis commented on #166
@gmargaritis any progress? can i continue with translation or i should wait for a pr?

[2017-03-25 17:10] gmargaritis commented on #166
@amoraitis please continue ! I'm a bit busy these days , I'll make a pr when I have something

[2017-03-27 08:18] ZaynahGiti commented on #98
i will help in translation

[2017-03-28 01:51] devlware commented on #113
Any update on the translation?

[2017-03-28 11:47] donnemartin commented on #174
Great!  I'll try to send the PR this week, thanks.

[2017-03-28 18:33] d1mnewz commented on #106
[#177](https://github.com/jwasham/coding-interview-university/pull/177)
translated a bit, feel free to merge

[2017-03-29 05:19] mickeymanik commented on #117
When is it coming in telugu . eagerly waiting..

[2017-03-29 05:25] aravindputrevu commented on #117
I started the work, but @mickeymanik lot of character are coming in a non-readable mode. I would soon resolve and complete it.

[2017-03-30 11:05] avizmarlon commented on #113
Yes, check: https://github.com/avizmarlon/google-interview-university/commits/ptbr-translation

[2017-03-30 11:08] avizmarlon commented on #113
This issue will be updated when the translation is over. For now, all issues related to the PT-BR translation are being opened in my forked repo in the branch `ptbr-translation`. See them here: https://github.com/avizmarlon/google-interview-university/issues

[2017-03-30 21:00] edex96 commented on #90
+1000

[2017-04-03 14:45] vivekimsit opened #182 "Amazon interview experience"
After clearing their telephonic round. I was called for face to face rounds last week.
There were suppose to be four rounds and after third round HR told me that the panel
thinks that I am more fit for development role and she will let me know when to come for
that.

She also told me that I got good feedback regarding the coding part hence there will be
couple of rounds which will test my ability

[2017-04-03 14:51] imvetri commented on #182
Let HRs call you back rather than u following up with them. Wait for a week then probably u can call to know the feedback.

[2017-04-03 16:24] MrSourabh opened #183 "Interview Experience Request"
Hi @jwasham, it would be really helpful if you share your interview experience with us. Thank you !

[2017-04-04 03:24] #174 closed

[2017-04-04 03:25] jwasham commented on #183
I'll write a blog post sometime soon about how to prepare and what my experience was like, but there won't be any of the questions asked.

[2017-04-06 05:29] y7usuf commented on #90
+1

[2017-04-10 11:51] vsag opened #184 "Regarding remove Implementation in the arrays"

[2017-04-12 04:47] jwasham commented on #90
Hi everyone. There is an old pull request #120 by @denizyilmazok. I see now #185.

Is this starting a new fork for Turkish?

[2017-04-12 07:40] #183 closed

[2017-04-12 11:48] ghaseminya opened #186 "Translation : Persian"
Hi @jwasham
I wana to translate this repo in Persian language(fa-ir).
Is this job started before?
Thanks.

[2017-04-13 03:46] #40 closed

[2017-04-13 03:48] jwasham commented on #186
Not yet.
Thanks for starting it!
Make an issue and a pull request to track your changes and collaborate with others.

[2017-04-13 03:50] jwasham commented on #184
Did you mean to close this? It's empty.

[2017-04-13 04:08] #184 closed

[2017-04-13 06:55] rahulpareek-room commented on #81
I would like to give it a try. Let me know where to start.

[2017-04-15 05:25] EmpireWorld commented on #186
@ghaseminya Can i help you in this process?

[2017-04-15 07:48] ghaseminya commented on #186
Hi @EmpireWorld
Thanks for attention,
I started translation of Readme.md to README-fa.md in root folder
https://github.com/ghaseminya/google-interview-university/blob/master/README-fa.md
Is this job is true and i continue to it?

[2017-04-15 07:58] EmpireWorld commented on #186
@ghaseminya I want to join the persian translation.

[2017-04-15 08:12] ghaseminya commented on #186
@EmpireWorld i think you are from project team!
So coworking in translation good job
I start translation readme.md, can you fork project from my address and commit on readme-fa.md?
Number of readme.md lines is 1965, we can divide on two section, part one for me and part two for you,
Is it good for you?

[2017-04-15 08:53] EmpireWorld commented on #186
@ghaseminya Yes. it is good plan. give me details. (which line i start translation?)

[2017-04-15 09:30] ghaseminya commented on #186
I translate till line 1000, and you can start from line 1001 to end!

[2017-04-15 09:48] MrSourabh commented on #81
@rahulpareek-room  Hi Rahul, you can see the file and feel free to start any part, as i'm currently busy with other stuff not much there in pipeline from my end.

Thank you for you help.

[2017-04-15 10:13] EmpireWorld commented on #186
@ghaseminya Nice. :rocket: we started translation. :1st_place_medal:

[2017-04-15 16:46] jwasham commented on #186
I meant to pass this along: https://github.com/jwasham/coding-interview-university/issues/125

[2017-04-15 16:49] ghaseminya commented on #186
@jwasham ok, thanks

[2017-04-16 05:08] denysco commented on #106
Hi, I'm from Ukraine, currently studying CS in the US. I would like to help to translate the guide. Can I help somehow? Where should I start?

Thanks

[2017-04-16 10:15] d1mnewz commented on #106
@denysco hey, that's awesome!
you can start from any not translated part obviously :)

[2017-04-17 01:14] oanhnn commented on #92
I think we should rename `README-vn.md` to `README-vi.md`
Because, Vietnamese has  code is `vi`
https://en.wikipedia.org/wiki/Vietnamese_language

[2017-04-17 02:07] letientai299 commented on #92
PR are welcome :smile:.

[2017-04-17 09:40] thovo commented on #92
Any PR is welcome, that's true but I don't think change the code name is that much important, as we need to add new translations, we are currently stopping for months without new update.

[2017-04-17 20:31] xBartu commented on #90
@jwasham yes, they are starting a new one. You may close the issue if you wish.

[2017-04-20 03:27] vivekimsit commented on #182
Updating my progress. So, I got call from HR for next round and it was telephonic round.

After some casual introduction, I was given some CSS selectors and was asked to arrange them based on CSS specificity rules, I got bumped and told that I can't tell the exact priority but tried to convince him that I know the algorithm how rules are resolved, but he wasn't convinced.

Second, I was told to wr

[2017-04-20 03:32] jwasham commented on #182
Please don't post interview questions here. Interviewers invest a lot of time in coming up with good questions.

[2017-04-20 03:43] vivekimsit commented on #182
@jwasham I removed a lot of details from the description except the `partial` function, if you say I can remove it.

[2017-04-20 04:05] jwasham commented on #182
I don't see any edits. I still see all the questions.

[2017-04-20 05:57] vivekimsit commented on #182
Final update, I received mail from recruiter saying that I am rejected. This feels very funny to me, if anyone reads my update above can infer that.

I am not shattered but sad that sometimes interviews are not that fair. Please don't consider it as some backslash but just some reflections on present scenario.

[2017-04-20 06:08] imvetri commented on #182
Rejections can teach a lot than success do. 👍

[2017-04-20 06:08] AshishSaraswat commented on #182
Hi
Even I appeared for Amazon,Chennai interview . After giving Hiring Manager round and getting a good feedback for the same I gave the Bar raiser round also. It has been more than a month but still I have not got any update from the HR. I tried to reach him but he did not even reply to my mail

[2017-04-20 06:19] vivekimsit commented on #182
@imvetri I agree and that's what I wanted. But what I have learnt from the last round, nothing. Should I now memorize the CSS selector rule? no, in fact I like to write clean CSS, if needed I can check docs if needed.

[2017-04-20 06:31] imvetri commented on #182
Learn if you wanted to learn. But don't put your effort just because amazon rejected you since you didn't knew it. I attend interviews just to learn things from others perspective.

[2017-04-20 15:31] hasanabuzayed commented on #98
I would be more than happy to help.

[2017-04-22 19:20] jwasham commented on #182
@vivekimsit Sorry about the interview result. The hardest part of an interview is not knowing where the interviewer thought you were lacking versus what you think they thought.
My only advice is to keep working and learning what you want to and what is practical for your projects (like @imvetri said). No one can know it all.

[2017-04-22 19:21] jwasham commented on #90
OK, closed #120.

[2017-04-22 23:33] vivekimsit commented on #182
@jwasham also, I think that telephonic interview dilutes the performance a lot. I should have told recruiter to go for face to face round.

[2017-04-23 03:25] jart opened #195 "Add "see also" links to standard libraries"
Some people have an easier time learning theory when it's connected to practice.

Here are some cross-references you might be able to add to your to-do list.

- Hash Table
  - Java
    - [java.util.HashMap](https://docs.oracle.com/javase/7/docs/api/java/util/HashMap.html) ([source](http://grepcode.com/file/repository.grepcode.com/java/root/jdk/openjdk/6-b27/java/util/HashMap.java))
    - [java.uti

[2017-04-25 16:23] Ilyushin commented on #87
Hi, @Julila!
Do you have any news about translation?

[2017-04-26 18:01] HadTheSha commented on #98
I can help

[2017-04-28 19:56] jsroyal commented on #81
being from Hindi never type in hindi but I would like to try.
@MrSourabh How can I work on your ramaing part?
Can you add me in your repo as PR so maybe I can?

[2017-04-29 01:12] MrSourabh commented on #81
You can fork original or my repo and start translating part that you feel suits for you. Once you want to merge changes you made, raise a PR John or I'll merge your changes.

For typing in hindi you can use Google keyboard.

I'm currently working on removing old Google specific content.

Thanks for helping. Hope this helps let me know if you need more info.

[2017-04-29 04:15] jsroyal commented on #81
Is there available for the desktop ?
Because I would like to type in desktop instead of mobile.

Is that your PR already merged in the repo?

[2017-04-29 04:29] jsroyal commented on #81
Is that for available for the desktop?
I using Linux(Ubuntu) system so I would like to type on the system.

You say I will, Is that your PR already merged with the original repo?

[2017-04-29 08:02] MrSourabh commented on #81
I don't think Google indic keyboard is available for Ubuntu. But you can use Chrome extension for the same. Also I believe there is indic third party keyboard in Ubuntu app store.

[2017-04-29 08:23] jsroyal commented on #81
Okay.
I got it one app where I can write in highish.

[2017-05-03 00:49] ArCiGo commented on #80
How can I help? I'm interested :)

[2017-05-05 19:08] dyoum117 opened #202 "URL for "What Every Programmer Should Know About Memory" incorrect in README"
Links to the Amazon Dynamo paper instead.

[2017-05-06 17:14] jwasham commented on #202
Thanks! I'm updating the link.

[2017-05-06 17:14] #202 closed

[2017-05-06 17:16] #182 closed

[2017-05-06 17:19] jwasham commented on #195
Thanks @jart for this.
I'd rather not add much more detail to the project flow at this point, as the project looks pretty overwhelming to a newcomer already.
Feel free to add the resources to this language-specific page: https://github.com/jwasham/coding-interview-university/blob/master/programming-language-resources.md

[2017-05-15 05:41] jalal1 commented on #98
Ready to Help!

[2017-05-22 04:06] fadilmamedov commented on #87
Hi, @Ilyushin! As far as I can see there is still no translation. Do you mind if I take care of it?

[2017-05-22 04:24] Ilyushin commented on #87
Hi @fadilmamedov, no doubt, you can help us, but only say what piece of the text you are planning to translate.

[2017-05-22 04:27] Ilyushin commented on #87
@fadilmamedov This is a branch where we are working https://github.com/Ilyushin/google-interview-university

[2017-05-22 07:20] fadilmamedov commented on #87
I would start from **Additional Books** section if you don't mind. But what should I do when I have that piece of translation finished? I currently have a fork of **jwasham/coding-interview-university**.

[2017-05-22 07:27] Ilyushin commented on #87
@fadilmamedov You need to fork this https://github.com/Ilyushin/google-interview-university When you will have translated your section, you need to create a pull request.

[2017-05-22 07:33] fadilmamedov commented on #87
Sorry, it might be a stupid question, but why should I create a PR to https://github.com/Ilyushin/google-interview-university instead of original https://github.com/jwasham/coding-interview-university?

[2017-05-22 07:39] Ilyushin commented on #87
@fadilmamedov Yes, exactly! When we will have translated all text, John accept our changes via  https://github.com/jwasham/coding-interview-university/pull/88

[2017-05-22 07:41] fadilmamedov commented on #87
@Ilyushin, thanks for clarification. I will update you once I have that part of text translated!

[2017-05-22 07:44] Ilyushin commented on #87
@fadilmamedov You're welcome:) Thank you for your help!

[2017-05-22 08:42] RadomirDuo commented on #87
Thanks! Guy!!!

[2017-05-27 06:25] jsroyal opened #209 "video does not exist"
Ask Me Anything: Gayle Laakmann McDowell (author of Cracking the Coding Interview)
Given the link, the video does not exist.
Update the link.

[2017-05-29 18:08] jwasham commented on #209
Thanks!

[2017-05-29 18:08] #209 closed

[2017-05-29 18:08] #195 closed

[2017-05-29 18:09] jwasham commented on #80
We can close this now, yes?

[2017-05-29 18:22] jsroyal commented on #209
Thanks too @jwasham for such an amazing contains share with the world.

[2017-05-31 06:20] dossorio commented on #80
@jwasham Yes! feel free to close it ! :)

[2017-06-03 14:12] skaplan1 commented on #90
+1

[2017-06-04 17:00] smoussa opened #211 "Link to private YouTube video on linked lists."
So the link to **CS 61B - Linked Lists (video)** under the Linked Lists description section links (pun intended) to a private playlist. Worth removing or replacing?

[2017-06-04 17:24] #80 closed

[2017-06-04 17:32] jwasham commented on #211
Yes, I'll fix it with a 2006 version. thanks!

[2017-06-04 17:32] #211 closed

[2017-06-23 11:10] vsag opened #219 "CS:61B Videos"
UC Berkeley has removed almost all of its videos off of the web, so there will be many broken links. I am just saying shewchucks videos were amazing. This would be a good time to update the repo if you're  free.

[2017-06-23 11:22] MrSourabh commented on #219
Yes, I've noticed it too. Many links are broken.  Do you have alternative links?

[2017-06-23 11:24] vsag commented on #219
Sadly no they were unbelievable had I know it I would've downloaded them.

[2017-06-23 15:04] jwasham commented on #219
This is really disappointing. I loved those videos.
I'd appreciate it if you come across one you need (that is gone), check out Stanford, MIT, or elsewhere for high-quality lectures and replace it.

Cal ESG published Berkeley videos, not sure of affiliation: https://www.youtube.com/user/esgeecs/playlists

Stanford playlists: https://www.youtube.com/user/StanfordUniversity/playlists
MIT playlists:

[2017-06-25 14:08] infuerno commented on #219
I found this:
http://www.infocobuild.com/education/audio-video-courses/computer-science/cs61b-spring2014-berkeley.html
which references content here:
https://archive.org/details/ucberkeley-webcast-PL-XXv-cvA_iAlnI-BQr9hjqADPBtujFJd

[2017-06-25 14:14] vsag commented on #219
Wow that's really cool thanks for those, though I prefer the 2006 one, this has shewchuck and that's good enough for me thank you.

[2017-06-30 19:15] suadev commented on #90
+1

[2017-07-08 20:53] atultherajput opened #229 "The Daily Plan should be above Prerequisite Knowledge in Table of Contents section."
Since The Daily Plan section is written before Prerequisite Knowledge section, I was thinking to rearrange their positions in Table of Contents section.

[2017-07-09 17:23] atultherajput commented on #229
Here is the fix PR #230

[2017-07-09 18:24] #229 closed

[2017-07-09 18:53] jwasham commented on #219
I'm a little reticent to use them since UCB took their videos down for some reason that makes sense to them, but I feel better that these are from a dedicated space on Archive.org.
Would you mind updating the project to use these videos and replace the removed youtube ones?

[2017-07-09 22:57] JIVS commented on #219
Any idea why those were removed?

[2017-07-10 06:30] alex440440 commented on #219
Apparently so that some people that like to make others life miserable will feel better with themselves https://reason.com/blog/2017/03/07/berkeley-deletes-200000-free-online-vide

[2017-07-10 07:45] vsag commented on #219
I would like to do this, but I have no idea how GitHub works? What should I do? Fork your repo make changes in the read me file and make a new pull request? Is this method right? Or tell me how to do it, I am more than willing to help as they are really good videos and want others to access this.

[2017-07-12 04:01] atultherajput commented on #219
@jwasham They have video on [Computer Science 61B - Fall 2006] (https://archive.org/details/ucberkeley-webcast-PL4BBB74C7D2A1049C) and here is whole [UC Berkeley Webcast Videos] (https://archive.org/details/ucberkeley-webcast)

[2017-07-15 19:04] qkcire commented on #219
I would like to note that the UC Berkeley links still in fact work, however, in order to view them you must be logged into YouTube with a Berkeley account.

[2017-07-16 04:10] #219 closed

[2017-07-16 04:10] jwasham commented on #219
Thanks for finding and fixing!

[2017-07-21 18:18] Kyeongan commented on #118
I would like to join and help.

[2017-08-20 09:03] muhsin-k opened #239 "Translation : Malayalam"
I will be contributing in Malayalam language .
 [My fork](https://github.com/muhzi4u/coding-interview-university)

[2017-08-26 11:55] AdityaSoni19031997 opened #241 "How to use it section?"
https://github.com/jwasham/coding-interview-university#how-to-use-it

**How to use this section**

Can someone explain to me how to use it??

I have tried the said things but nothing happen i guess..

[2017-08-26 17:16] zpq456 commented on #241
Oh.. i think...
It's just a way of knowing how to progress.
you can branch code => code copy to your computer
and add 'Marked  x' => Your study ended here.

[2017-09-06 03:18] longjj opened #243 "Need to update? Translation: Chinese"
Hi, @jwasham

The README is helpful to me! I have also read the Chinese version while I found that the Chinese version seemed to be a little out of date. The content is similar while the structure and some details are different between the English and Chinese version since the Chinese version is still focusing on becoming a future Googler.

So I want to know if there is a  necessity to update the

[2017-09-07 02:56] Abson commented on #243
As far as i see，the translation version of chinese that have a lot of error of syntax

[2017-09-07 04:46] longjj commented on #243
Once I found the Chinese version is out of date, I mainly refer to the newest English version.

In my opinion, the current version of Chinese may have errors of syntax, while the main study framework has been displayed generally. If it is needed we can translate it at the beginning, but it will cost more time, and I think it is unnecessary to redo the same work.

May be we can cooperate.

[2017-09-09 17:41] jwasham commented on #243
Feel free to update the translation!

[2017-09-09 17:45] #241 closed

[2017-09-10 01:46] longjj commented on #243
OK, I will spend specific time on this task every weekend. Once I finish I will pull requests.

[2017-09-11 02:59] longjj commented on #243
@jwasham

I recently contacted the original translator. I decide to update it from the original Chinese version. So once we finish updating the version, the original translator will merge my changes and he will send pull requests to the repo.

[2017-09-14 09:16] muhzi4u commented on #239
@jwasham Any one working on this **malayalam** language .Could you please add to `README.md` file.Thanks.

[2017-09-15 04:03] jwasham commented on #239
Done. Thanks for translating!

[2017-09-24 08:40] vivekimsit opened #253 "Half.com is dead"

[2017-09-24 13:26] dileep8014 commented on #117
@aravindputrevu - any idea when you will be able to finish it , waiting to see it in action

[2017-09-24 17:22] jwasham commented on #253
Thanks. Removed references to it.

[2017-09-24 17:22] #253 closed

[2017-09-25 01:58] aravindputrevu commented on #117
@dileep8014  Thank you. I have started and got busy after some time. You can help me to convert some part of it!

[2017-10-01 02:58] Yang-33 opened #257 "Translation: Japanese"
I want to contribute in Japanese.
I'll do my best.
[My fork](https://github.com/Yang-33/coding-interview-university) :fork_and_knife:

[2017-10-01 03:12] Yang-33 commented on #257
@jwasham  Can I write  "Japanese(日本語)" in Translations in progress to README.md ? (not README-jp.md)

[2017-10-01 19:29] jwasham commented on #257
Thank you!

[2017-10-04 04:50] shahariarrabby opened #259 "Translation: Bangla"
Add Bangle translation. If you want i'll help you to do that.

[2017-10-04 23:41] dileep8014 commented on #117
@aravindputrevu  - sure let e know

[2017-10-13 04:08] avizmarlon commented on #113
**Translation is finished.**

_Issue closed as per #115 and 6832a2c._

[2017-10-13 04:08] #113 closed

[2017-10-16 08:06] dipta007 commented on #259
I also want to help in that aspect.

[2017-10-17 16:37] rtrv commented on #87
Hi, @Ilyushin. Is there any topic to help with? I'd like to participate

[2017-10-17 18:06] Ilyushin commented on #87
Hi, @rtrv! Yes, certainly, you can choose any starting from combinatorics.

[2017-10-18 09:44] rtrv commented on #87
@Ilyushin ok. Could you made a checklist at first post for all the topics? Checked for done, unchecked for undone and explicitly marked WIP with username for sections in progress? It helps with coordination a lot. We used such list here: https://github.com/wunsh/elixir-docs-ru/issues/6

As I can conclude, people use your fork to work on Russian translation. Could you rebase it to upstream master b

[2017-10-18 15:30] Ilyushin commented on #87
@rtrv Ok, I will update current branch from original and create a checklist. Thank you a lot for your advice and helping:)

[2017-10-18 16:10] Ilyushin commented on #87
@rtrv Done

[2017-10-18 16:30] rtrv commented on #87
@Ilyushin good! Could you also mark finished sections? And assign the following to me:
* Combinatorics (n choose k) & Probability
* NP, NP-Complete and Approximation Algorithms
* Caches
* Processes and Threads
* Papers

Like:

- [ ] Topic name (@rtrv)

It's also convinient to highlight unstarted and unassigned sections with making it **bold**

PS I plan to work on a tool to make it easy to work wi

[2017-10-18 16:38] Ilyushin commented on #87
@rtrv no doubt man, I'll ping you.
For marking section I need more time because I have to check discrepancies after the updating from the original and fix them if it's needed.

[2017-10-25 14:17] jwasham commented on #135
I see the fork was deleted. Closing.

[2017-10-25 14:17] #135 closed

[2017-10-27 09:57] phondanai commented on #156
Adding more translations, and umm I already make a PR without issuing, sorry about that.
เพิ่มคำแปลครับ แต่เหมือนในเอกสารเค้าเหมือนให้บอกเค้าก่อน พร้อมแล้วค่อย PR ไป แต่ผม PR ไปก่อนแล้วครับ

[2017-10-28 13:00] tbatsenko commented on #106
I've made some progress on Ukrainian translation - see my PR :)

[2017-10-30 05:10] praveeno commented on #81
can i also contribute

[2017-11-06 09:05] coder-PengWenHao opened #271 "very good"
you are very good

[2017-11-07 03:17] jwasham commented on #271
Thanks!

[2017-11-07 03:17] #271 closed

[2017-11-07 14:03] SaurabhMhaisekar commented on #81
@praveeno Sorry for late reply, you are welcome to contribute in translation. Thank you for helping.

[2017-11-07 18:12] bharath-koteswarao commented on #117
Wow I never thought that I would see some thing in telugu in github.

Guys but what's the point in translating to telugu ? Can't someone who came till here don't understand english ? Just my opinion 👍

[2017-11-08 02:53] z3niths commented on #156
👍

[2017-11-10 13:50] VanDalkvist opened #275 "How many years I need to finish all of this stuff?"
Thank you for your great job!

But a little question here... Seriously, how much time? we all understand that we can't sit and learn. We should work for a living and spent time with our families. So, what do you think is the optimal estimate to get all of it done?

[2017-11-12 04:45] SaurabhMhaisekar commented on #81
@praveeno Hi, please take a look at the file README-hi.md under directory translations and feel free to update the translation. Appreciate your help.

[2017-11-12 05:17] Shhzdmrz commented on #140
Want to work on Urdu translation. Please let me know if anyone working on it so we can divide the sections. Thanks

[2017-11-12 05:32] praveeno commented on #81
@SaurabhMhaisekar +1

[2017-11-14 05:36] jwasham commented on #275
There's no need to rush it. Learn it at your own pace.
I gave myself a year, and was able to work on the plan full-time. Most people can't do that.

[2017-11-20 02:22] Abson commented on #275
WOW, just one year to finish it that is incredibly difficult to me ! Many of knowledge was forget when  i learn the new. I have to spend some time to reviewing them.

[2017-11-26 16:00] 96mohitm opened #277 "From where to learn SQL Javascript HTML, CSS, and other front-end technologies?"
Can you share from where to learn this languages? As these topics are not covered and I am finding difficulties in leaning these. Any online courses, books or related resourses.

Thanks alot for this repo helping me alot.

[2017-11-26 22:22] jwasham commented on #277
It's been about 17 years since I learned those. I mainly used online tutorials and O'Reilly books at the time. Now there are likely a bunch of free online courses. It depends on your learning style. I like reading books, doing courses, and watching videos.
Keep in mind that you're not expected to remember the all details of SQL, HTML, and CSS. You just have to remember how they work and be able to

[2017-11-26 22:25] jwasham commented on #275
I spent a few months just reading stuff that I didn't need to know. I could have skipped reading the C and C++ books, the Algorithm Design Manual, Programming Pearls, and Algorithms and Programming by Shen. So removing those months, it took about 7 months.

[2017-11-28 06:26] 96mohitm commented on #277
Thanks!

[2017-11-28 06:26] #277 closed

[2017-11-29 06:47] shivaprasad11may commented on #275
How many hours you spent..

[2017-11-29 07:48] SaurabhMhaisekar commented on #275
I know this question is not directed to me :). Well I'm still into study but I've completed around 90% of what is listed in repo. It look me around 7 months. I hope that helps. Happy learning

[2017-11-30 01:32] Abson commented on #275
The important question is How can i took about 7 months studying full-time without money and work.

[2017-11-30 06:00] ankitsorathiya commented on #275
Great job done! What a motivation to those who are at least trying!
I would like to know how one gets and interview from google without having a good college degree or nobody known working in google.
Your response will be highly appreciated.

[2017-12-01 07:55] VanDalkvist commented on #275
@SaurabhMhaisekar Did you spent all the time of your day or your spare time from job and family for learning?

[2017-12-01 09:15] SaurabhMhaisekar commented on #275
Oh, I work full time. I usually spend some time from job for learning. I know it's sometimes crunch to do things while working and spending time away from family and friends. But it is possible. Personally for me 15 minutes meditation a day and pomodoro technique helped a lot. Hope this helps you. Happy learning :)

[2017-12-02 15:16] SaurabhMhaisekar opened #279 "New Slack Study group"
Hello Guys,
I've just created a new slack group where we can hang out and help each other.
if you want to join the group please add details [Here](https://goo.gl/forms/pMXjVmpzy4AEhF3Y2)

[2017-12-03 18:09] bruno-rocha-movile opened #280 "Playlist under Process & Threads doesn't exist anymore"
It seems like the playlist (https://www.youtube.com/playlist?list=PL-XXv-cvA_iBDyz-ba4yDskqMDY6A1w_c) from the Processes section was deleted, what did it consist of?

[2017-12-10 20:24] nerder opened #282 "Clarification of `Implement a Vector` exercise"
As related to the Data Structure -> Arrays i don't fully understand the following statement:

This exercise is suppose to be done just in `C`?

[2017-12-11 03:02] SaurabhMhaisekar commented on #282
@nerder You can do exercise with C or C++. (Theoretically, you can do this exercise with any language which gives you way to manipulate memory directly)

[2017-12-11 16:42] vk927 commented on #117
I agree with @bharath-koteswarao  no need to translate to Telugu. In industry we need to code in English and explain our code or algorithms to colleagues in English. Instead of that you guys can add more questions and concepts such as Convex Hull etc. Anyways I appreciate your effort.

[2017-12-11 20:19] tomericco commented on #82
Sorry to interrupt, and I really appreciate @YanaBe 's initiative to translate this wonderful study to Hebrew, but I really think that a prerequisite for being a good software engineer is having a great English reading skill. I started my career with an average English, which has been improved along the years and was a key factor to my development as an Engineer.

[2017-12-11 23:59] WaqasEhmed commented on #140
It would be great.

[2017-12-12 07:45] akerimyildiz94 commented on #90
+1

[2017-12-12 18:45] ilyeSudo commented on #98
I can help too, i'll start doing soon

[2017-12-13 06:46] srinath461 commented on #81
@SaurabhMhaisekar, Hi I see that there are a lot of things can be added in this file. Can I make some changes and create a PR . Thanks

[2017-12-13 06:55] SaurabhMhaisekar commented on #81
@srinath461 sure, please go ahead. Appreciate your help and time.

[2017-12-13 14:41] l2aelba commented on #156
Just only me who think about reading programming articles in Thai is more harder than reading them in english :sweat_smile:

[2017-12-13 19:27] nerder commented on #282
Ok, thank you for the answer, i close this

[2017-12-13 19:27] #282 closed

[2017-12-15 09:18] akhin57 opened #286 "Translation: Burmese"

[2017-12-16 22:43] rajfidence commented on #275
Allocating 30 hrs/week will help to complete this repo in  7-8 months.
But it also depends on pace of learning.
Note : reviewing is important.

[2017-12-18 09:16] VanDalkvist commented on #275
@rajfidence It's cool, but I have 1 or 2 hours per day for yourself, I have a wife and a daughter. I want to spend time with them. And I'm not the only one with it I suppose. So, the purpose is to learn most of the things and leave the 9-hour-per-day-job to spend time more productively with my family and with my hobbies.

[2017-12-18 09:35] ashwin4ever commented on #275
I think dedicating an hour or 2 during the weekends and implementing or
learning any single algorithm or data structures during the weekdays which
would require about 30 to 45 mins would help. Another factor is, as you
progress the time spent to learn or internalize will reduce and you will
find yourself grasping at a faster rate than when you started. Also
remember interviews are tailored and spe

[2017-12-19 01:36] rajfidence commented on #275
@VanDalkvist  I agree with your point. My views are more biased towards a student and un-married person.
To reduce number of hours you can do pair programming or also join slack channels, fb groups, etc to actively participate in discussion.

[2017-12-20 09:07] VanDalkvist commented on #275
@rajfidence Pair programming is a great advice! Big thanks

[2017-12-20 10:12] thovo commented on #92
@tiendn thank to point out, could you please make some change!

[2017-12-22 09:13] coci commented on #286
its mean live in burme

[2017-12-24 08:00] phondanai commented on #156
Me too!
But translation may help others Thai fellow who may not good in English(as you can tell this including me also) to access the knowledge easily, if you find something wrong or kind of weird to read in the translation, you're very welcome to suggest a better version of translation 😸 .
Thanks you!

[2017-12-24 21:01] NaveenBen commented on #117
i am ready to put my hand in this telugu translation

[2018-01-01 05:51] NguoiThuaKe commented on #286
its mean live in burme

[2018-01-05 14:15] pr0minence commented on #87
@Ilyushin Hey, how are things going with translation?

[2018-01-06 22:43] pr0minence opened #294 "Translation: Russian (v.2)"
Hey, guys!
I'll take on translation into russian. Hope you're okay with that, @jwasham, because nothing happens at the same thread.
Anyone welcome to help! Please, fork [here](https://github.com/pr0minence/coding-interview-university) and let us know what part you are going to translate..

---
**Done:**

- [x] Intro
- [ ] Table of Contents
- [x] What is it?
- [x] Why use it?
- [x] How to use it
-

[2018-01-07 00:35] cup-0f-tea commented on #87
i can help aswell

[2018-01-07 09:27] Ilyushin commented on #87
@pr0minence Hey man! We have been continued translating if you want to help, you are welcome:)

[2018-01-07 09:37] Ilyushin commented on #87
@pr0minence You can check items which you are planning to translate and write near your nickname

[2018-01-07 09:38] Ilyushin commented on #87
@lowest-fi-ever thanks man! You can check items which you are planning to translate and write near your nickname.

[2018-01-07 12:24] #294 closed

[2018-01-08 01:02] mikhailusov commented on #87
Available to help.

[2018-01-09 06:12] Ilyushin commented on #87
@mikhailusov It's cool, thank you:) You can choose appropriate items from the list above, mark them and write near to them your nickname.

[2018-01-10 20:16] mikhailusov commented on #87
@Ilyushin I can't edit your comment, so I will have to ask you to do so. This is topics I'd like to be assigned for now:

[2018-01-11 04:22] akhin57 commented on #286
Done TOC which is all I intended.

[2018-01-11 05:59] Ilyushin commented on #87
@mikhailusov Done

[2018-01-21 12:04] iphayao commented on #156
We should make it better for our Thai language because someone in Thailand not good in English and hard to understand if we make it in Thai, They maybe easy to understand and improve our country.

I'm also not good in English.

[2018-01-27 15:56] tzask commented on #106
I've translated some part, can you please pull my PR? :)

[2018-01-30 12:06] ugurhicyilmam commented on #90
+1

[2018-02-01 09:52] g7tro4w commented on #87
Hi. I wanna help with translation. What can i do for you?

[2018-02-01 10:08] Ilyushin commented on #87
Hi @g7tro4w! It's cool:) You can choose appropriate items from the list above and write me which of them, fork https://github.com/Ilyushin/google-interview-university and when you will be ready to create a new pull request.

[2018-02-01 19:39] g7tro4w commented on #87
@Ilyushin I'll translate this topics:
-  Testing
-  Scheduling
-  Implement system routines
-  String searching & manipulations
-  Tries
-  Floating Point Numbers
-  Unicode
-  Endianness
-  Networking
-  System Design, Scalability, Data Handling (if you have 4+ years experience)

[2018-02-02 04:17] Ilyushin commented on #87
@g7tro4w Done

[2018-02-05 04:10] erdalstk commented on #90
+1

[2018-02-05 20:30] Naeus commented on #90
+1

[2018-02-06 04:55] jwasham commented on #90
I see #185 and #289. Are these related?

[2018-02-20 11:56] kevingo opened #307 "Translation: Traditional Chinese"
I will start Traditional Chinese translation.

[2018-02-21 05:46] jwasham commented on #307
Hi!
Is this different from this Chinese translation?
https://github.com/jwasham/coding-interview-university/blob/master/translations/README-cn.md

[2018-02-21 06:02] kevingo commented on #307
Hi @jwasham, In short, Yes. Strictly speaking, the above Chinese version is "Simplified Chinese". And the work I am going to do is "Traditional Chinese" version.

[2018-02-22 04:09] adhikariaman01 opened #308 "Link for Discrete Math (CS70) Lecture is Expired"
Discrete Math YouTube Lecture doesn't exist and I found similar link so updating it with the new link.

[2018-02-22 04:21] adhikariaman01 commented on #308
I added the link for the cs70 lecture.

[2018-02-22 07:41] Ilyushin commented on #87
@rtrv @g7tro4w @mikhailusov Do you have any news about translations?

[2018-02-22 08:30] rtrv commented on #87
@Ilyushin seems like I've missed a message on translated document structure update according to changed source. Is it actual now?

[2018-02-22 08:41] Ilyushin commented on #87
@rtrv Thanks for the reference to the project, it's interesting.
About the conformity, what do you mean by the source? John's project or our branch?

[2018-02-22 09:09] rtrv commented on #87
@Ilyushin I mean English John's project as the source, so the traslation should have at least the same structure to work on it. As I remember there was structure difference to be fixed before translating particular topics

[2018-02-22 16:00] mikhailusov commented on #87
@Ilyushin sorry been busy with other stuff will try to finish next week.

[2018-02-22 17:16] #308 closed

[2018-02-26 22:45] PandaJules commented on #87
Hi, I would like to help with translation! I will try on some of the unchecked topics and will submit a PR https://github.com/Ilyushin/google-interview-university

I was wondering if I could re-word some of the existing parts? I know we are translating from English and sometimes there just isn't a nice word, but a lot of it sounds very unnatural and dry in Russian...

[2018-02-27 08:10] Ilyushin commented on #87
Hi @PandaJules
Thank you a lot for your helping. Yes, sure, if you find any misunderstood places in the translation, please, fix them.

[2018-03-07 11:01] sm5duck commented on #118
Hello, I would like to join, too!!

[2018-03-08 06:03] sankiran opened #312 "Youtube video on garbage collection doesn't exist anymore"
The video [Garbage collection (Java); Augmenting data str](https://www.youtube.com/watch?v=StdfeXaKGEc&list=PL-XXv-cvA_iAlnI-BQr9hjqADPBtujFJd&index=25) doesn't seem to exist anymore.
cc: @jwasham

[2018-03-13 01:58] jwasham commented on #312
Thank you. Please remove it and put in a pull request. :)

[2018-03-18 09:37] SaurabhMhaisekar commented on #279
Closing the group because of few responses in Group.

[2018-03-18 09:37] #279 closed

[2018-03-19 14:05] longjj commented on #243
@jwasham
I am really sorry that I can hardly finish the translation perfectly because of my heavy college projects. I have finished my first draft recently but I found that there are still lots of Chinese translation rules needing to be fixed to meet the original Chinese translation organization's requirement.

In this year I have to spend most of my time applying for the postgraduate program.  I

[2018-03-19 14:05] #243 closed

[2018-03-20 01:49] jwasham commented on #243
No worries! Thank you!

[2018-03-22 03:21] rahulrajpl commented on #239
I am ready to contribute.

[2018-03-22 03:58] muhzi4u commented on #239
@rahulrajpl Hi Rahul,I am already started .But if you are interested .You can move on.

[2018-03-22 08:43] rahulrajpl commented on #239
All right. If any help is required, ping me.

[2018-03-22 09:04] Roboneet commented on #239
I could help out too 😄

[2018-03-22 10:33] muhzi4u commented on #239
@rahulrajpl @Roboneet I need help from both of you.Shall we close the issue ASAP? :blush:

[2018-03-22 15:26] amirhmstu commented on #239
hello.thanks

On Thu, Mar 22, 2018 at 3:04 PM, muhzi <notifications@github.com> wrote:

[2018-03-28 05:27] arvimal commented on #239
@muhzi4u, @Roboneet, @rahulrajpl

Just a thought and personal opinion.

Do we really require a Malayalam version of this excellent repo? Anyone who is going to follow such a translation won't be able to really understand the stuff that comes after this. IIUC, there were other translation attempts here which were pulled off due to this exact reason.

If you think differently and feel the translatio

[2018-04-04 02:51] sankiran commented on #312
Done. Raised a pull request #314

[2018-04-07 12:00] goonerrafat opened #316 "Video under Processes and Threads Doesn't Exist."
It looks like  [Operating Systems and System Programming (video)](https://www.youtube.com/playlist?list=PL-XXv-cvA_iBDyz-ba4yDskqMDY6A1w_c) doesn't exist anymore.

[2018-04-12 17:03] brunoguic opened #318 "Removing Operational System generated files (DS_Store,Thumbs.db..)"
There is a _.DS_Store_ file in the root of project.

[2018-04-17 05:41] ku6pk commented on #257
@Yang-33 よろしくお願いします、こちらからも翻訳してみたいのでやらせて頂きと嬉しいです。いかがでしょか？

[2018-04-17 16:28] Yang-33 commented on #257
@ku6pk さん、いいですね！
僕はかなり最初でやめてしまったのですがku6pkさんのペースに合わせてまた翻訳しようと思います。よろしくおねがいします。
詳しくは、私のfork内でメッセージのやり取りをお願いしてもよろしいですか？

[2018-04-17 18:56] ku6pk commented on #257
@Yang-33さん、お疲れ様です！全然大丈夫です。では、Yang-33さんのforkでやり取りをしますのでよろしくお願いします。

[2018-04-19 03:38] #318 closed

[2018-05-02 05:22] chnsh opened #325 "A better video on how CPU executes program"
Hello,

In the list of videos about how CPU executes a program, we may want to add this video:
https://www.youtube.com/watch?v=XM4lGflQFvA

It is much more detailed

[2018-05-07 05:57] nithin2889 opened #328 "Translation to Kannada"
I would like to translate this into Kannada if you would give me a chance.

[2018-05-10 04:33] jwasham commented on #328
Feel free to!

[2018-05-10 04:33] #328 closed

[2018-05-23 07:40] Vohidjon opened #334 ""Tree Height Remark (video)" under "Heap / Priority Queue / Binary Heap""
This source is not a video. Maybe you will consider renaming it to just "Tree Height Remark".

Thanks  for creating this repository. I am really enjoying it 👍

[2018-06-14 14:14] BedirT commented on #90
No attempt on this ? I don't see anything, did you cancel it ? @jwasham Anyone in charge ?

[2018-06-14 15:07] xBartu commented on #90
@BedirT @jwasham I do not see any benefit in translating the document into Turkish. Especially, most of the companies in Turkey do not ask the topics in the Interview(I have rarely seen those in local firms' interview). Otherwise, they require the understanding of English at a basic level, at least. So, the ones who need those should know English.

There is an open issue, btw.

[2018-06-14 15:35] BedirT commented on #90
@xBartu @jwasham I got your idea, but I don't think most of other countries are any different. So whatever the initial reason was to translate to those others, should be the reason to translate to Turkish. Otherwise others are also unnecessary don't you think?

[2018-06-14 16:34] xBartu commented on #90
@BedirT To speak from experience, I was asked several algorithm questions meanwhile being interviewed by European Companies. I cannot speak for local ones but the ones that consider international candidates ask those.  Maybe, local startups do not bother those as well. Huh, at the end, it's fun for me to solve those question, but again, do we have such group that likes solving that kind of questio

[2018-06-14 16:43] BedirT commented on #90
@xBartu I didn't study in Turkey, when I was interested in these topics (CS). So I have no idea if it is needed or not. What you say makes perfect sense, since all the sources and stuff are also English no need to translate etc. but seeing the other translations, if needed I wanted to help, but I don't see anything (found one -only intro was done- and that's not continuing I believe). All cool 😄👍.

[2018-06-14 17:12] xBartu commented on #90
@BedirT Huh I see, okay then, let's wait to see if somebody is interested.

[2018-06-15 08:00] mstfldmr commented on #90
I would love to have such a good collection in Turkish. I think it would be helpful not only for interviewees but also for those who want to keep him/herself updated. However, all the resources it points to are in English. Anybody who wants to study this list needs English anyhow. So, translating only the list does not make much sense to me.

[2018-06-15 08:48] xBartu commented on #90
@mstfldmr that's another issue. Exactly. Even if we translate, it requires the good level of English to understand the content.

[2018-06-21 22:43] raini35 opened #344 "Question about the "How to use it" section"
I'm a bit confused on what this does. I followed the instructions, but I'm not exactly sure what I would mark as "x".

"How to use it
Everything below is an outline, and you should tackle the items in order from top to bottom.

I'm using Github's special markdown flavor, including tasks lists to check progress.

Create a new branch so you can check items like this, just put an x in the brackets: [

[2018-06-22 03:06] jwasham commented on #344
The idea is to put an x in the [ ] . Like this: [x] and in markdown that check the box.

I added this how to save your progress **in your fork** but I'm not sure if it's correct. It looks wrong. You want to save progress to your fork, not the original.

Can someone assist?

[2018-06-22 15:57] raini35 commented on #344
Oh I you have to go into markdown and mark the brackets with the x. Sorry I thought there was a command for that.

Just to check my understanding, so every time I finished a section say:
"- [ ] [Demystifying Tech Recruiting](https://www.youtube.com/watch?v=N233T0epWTs)"

I would put an x in the bracket and then in my "progress" branch, do the following commands:
git add .

git commit -m "Marked x"

[2018-06-22 15:58] raini35 commented on #344
Oh you have to go into markdown and mark the brackets with the x. Sorry I thought there was a command for that.

Just to check my understanding, so every time I finished a section say:
"- [ ] Demystifying Tech Recruiting"

I would put an x in the bracket and then in my "progress" branch, do the following commands:
git add .

git commit -m "Marked x"

git rebase jwasham/master

git push --force"

[2018-06-24 16:42] raini35 commented on #344
Great. Thanks so much for the help!

[2018-06-24 16:42] #344 closed

[2018-06-25 16:52] melongbob opened #348 "Fix typos in README.md"

[2018-06-26 04:31] #348 closed

[2018-07-17 17:17] srsxp commented on #156
ขอร่วมแรงด้วยนะครับ!

[2018-08-22 18:25] nafSadh commented on #259
I have started a fork with [README-bn.md](https://github.com/lang-lang/coding-interview-university/blob/master/translations/README-bn.md) added to it.

If you want to collaborate, please create issue [here](https://github.com/lang-lang/coding-interview-university/issues) and indicate what part you are working on. Create pull request upon completion.

[2018-09-02 09:51] neihousaigaai commented on #92
I've just fixed some typo of file README-vi and I've created a PR here:

https://github.com/jwasham/coding-interview-university/pull/356

[2018-09-13 20:10] terencestone opened #358 "Question about Daily Plan"
@jwasham - This may not be the exact right place to post this, but it could be helpful to future users. When you say that you choose one subject from the list below every day, are you referring to everything pictured in the attached image? If so, I'm wondering if you could suggest a preferred order of study, i.e. are all of these topics and sub-topics equally important? Also I'm curious, how long

[2018-09-20 16:41] Gahtungr commented on #87
Can I get acquainted with the already translated parts?

[2018-09-22 14:06] Ilyushin commented on #87
@Gahtungr Hi man! Yes, you can check the list of topics in the first message of this issue.

[2018-10-05 02:58] jwasham commented on #358
Each item (linked lists, stack, etc) was meant to be 1 day, but some were so complex they stretched into more.
I spent 8-12 hours per day. It's rare that people can do that.

[2018-10-05 02:58] #358 closed

[2018-10-06 17:41] jwasham commented on #316
That link was updated. Thanks!

[2018-10-06 17:41] #316 closed

[2018-10-09 02:47] jwasham commented on #325
Thanks - https://github.com/jwasham/coding-interview-university/pull/365

[2018-10-09 02:47] #325 closed

[2018-10-11 13:59] rjbanna commented on #81
I want to contribute to Hindi Translation. Please let me know where to start.

[2018-10-12 20:46] jsroyal commented on #81
@rjbanna Start any one of the block. [Click here](https://github.com/jwasham/coding-interview-university/blob/master/translations/README-hi.md)

[2018-10-14 17:40] jwasham commented on #118
Reopening. There is still a lot of work left, and I don't know if there is stuff waiting to be merged.

[2018-10-18 19:16] moonik opened #368 "Algorithms Sedgewick and Wayne (Video resource)"
Hi @jwasham. It seems that youtube deleted Sedgewick's channel and videos are not available anymore [Algorithms I](https://www.youtube.com/user/algorithmscourses/playlists?view=50&sort=dd&shelf_id=2), [Algorithms II](https://www.youtube.com/user/algorithmscourses/playlists?shelf_id=3&view=50&sort=dd).
But, I found these courses on coursera: [Part I](https://www.coursera.org/learn/algorithms-part1)

[2018-10-20 05:29] shireeshaBongarala commented on #368
PR raised https://github.com/jwasham/coding-interview-university/pull/369

[2018-10-20 18:42] moonik commented on #368
Updated the rest of the links with Sedgewick PR #370

[2018-10-23 04:30] #368 closed

[2018-10-23 04:31] jwasham commented on #368
It makes me sad when good videos disappear!

Thank you both for fixing these links!

[2018-10-24 19:59] moonik opened #374 "Hash Table section probably incorrect link"
Hi @jwasham, I am not sure that in the Hash Table section there is a correct link to the playlist called Data Structures (Video). When you open this link you can see materials related to trees. I think that there should be link to week 4 as there materials related to Hash Tables. I think there should be [this link](https://www.coursera.org/learn/data-structures/home/week/4) instead of [this](https

[2018-10-25 22:42] majakubo commented on #122
hey is it still open?

[2018-11-07 17:12] objcoding opened #383 "So the algorithm is very important！"

[2018-11-07 20:35] SahibYar commented on #383
Please provide some description to your issue.

[2018-11-08 02:37] jwasham commented on #383
Closing as a mistaken post

[2018-11-08 02:37] #383 closed

[2018-11-10 19:23] haseebpvt opened #384 "Jeff H Sipe YouTube channel is useful"
I found this new YouTube channel: https://www.youtube.com/channel/UCs-7SAP1mhEQF1NlubjSzqQ/featured
Jeff H Sipe, the author of the channel has worked as a Google recruiter for 5 years. He make videos about Google interview and interviews in general.

I just found it to be very useful. His channel is new and he is making frequent videos, so you can get your questions answered quickly.

[2018-11-10 23:44] sevagh opened #385 "Raft consensus protocol"
Hello,

First of all thanks for creating this.

I'm wondering if the Raft protocol should be included somewhere in this project as a gentle entrypoint into distributed systems and consensus.

The paper is very readable: https://raft.github.io/
Nice infographic here: http://thesecretlivesofdata.com/raft/

Raft is used in etcd, most of the Hashicorp tools (consul, vault, nomad). High relevance to in

[2018-11-11 18:20] jwasham commented on #385
Thanks, @sevagh but I think the system design area is already too large. If anything, I should remove some things, like several Google papers (since Google was the focus of this early on). As long as people understand what consensus systems are, that should be enough.

[2018-11-11 20:50] sevagh commented on #385
Well the point is that Paxos and the other papers you mention aren't as understandable as Raft.

[2018-11-11 20:52] jwasham commented on #385
I'll take a look and see what I can remove, and check this out.

[2018-11-11 21:35] dvanbrug opened #386 "Broken Links to Bit Twiddler"
Links to Bit Twiddler (https://github.com/jwasham/coding-interview-university/tree/fix_bit_twiddler#bitwise-operations) do not use HTTPS and so all point to the homepage instead of the correct link.

[2018-11-19 00:34] #386 closed

[2018-12-01 15:42] joonas-yoon opened #396 "Image not found : Cannot proxy the given URL"
Image which links `Coding at the whiteboard - from HBO's Silicon Valley` not found in section `What is it?`.

In current commits, the link refs [this](https://camo.githubusercontent.com/9e32acff11b04496eb14e09b198fcbb055c9ccf0/68747470733a2f2f646e67356c33717a7265616c362e636c6f756466726f6e742e6e65742f323031362f4175672f636f64696e675f626f6172645f736d616c6c2d313437303836363336393131382e6a7067) but was

[2018-12-01 15:59] joonas-yoon commented on #396
![image](https://user-images.githubusercontent.com/9527681/49330071-d2965080-f5cc-11e8-8d25-0cb401fa0fef.png)

I don't understand about this. The image is loaded well **sometimes**, and [this document](https://help.github.com/articles/about-anonymized-image-urls/#an-image-is-not-showing-up) is useful at this problem. How about use local image (by importing in this repo as a file) and links it?

[2018-12-01 16:31] joonas-yoon commented on #118
is this done? I think [the repo](https://github.com/strollkim/google-interview-university) was deleted.
@strollkim @jwasham Can i make new issue as same with this (Translation to korean) to create new pull request for new commits?

[2018-12-02 08:15] joonas-yoon opened #398 "Broken link"
The link on Interview Prep in Book List, is broken.

"Programming Interviews Exposed: Secrets to Landing Your Next Job, 2nd Edition" links http://www.wiley.com/WileyCDA/WileyTitle/productCd-047012167X.html, but doesn't work

[2018-12-16 21:19] jwasham commented on #398
Fixed. Thanks!

[2018-12-16 21:19] #398 closed

[2018-12-16 21:20] jwasham commented on #396
Thanks, I had gotten rid of the CDN for the old Googley as Heck site, and this was on it.

[2018-12-16 21:20] #396 closed

[2018-12-16 21:53] jwasham commented on #396
Also updated another image, and got it via wayback machine. Thanks for your help!

[2018-12-17 17:03] dhyey35 opened #400 "Tail Recursion Youtube Video Link Broken"
The link https://www.youtube.com/watch?v=L1jjXGfxozc for Tail Recursion under **how is tail recursion better than not?** seems to be broken. Can you please recommend any other similar video ?

[2018-12-26 05:39] akashgiricse opened #401 "YouTube link for "Zero to Hero (Video)" for Python is broken."
In **programming-language-resources.md**, the link to "[Zero to Hero (Video)](https://www.youtube.com/watch?v=TV9tSHFAFjg)" for python is broken.

[2018-12-28 04:45] jwasham commented on #401
Thanks for letting me know. I'll remove it.

[2018-12-28 04:45] #401 closed

[2018-12-29 19:08] halyph opened #403 "Question: Python or Java for Coding interview"
Hello John,
I'm writing here since comments are closed for this page https://startupnextdoor.com/ive-been-acquired-by-amazon/.

You've spent some time (see this repo) learning C/C++/Python for Amazon's interview. But, based on your blog posts you are working with Java.

If I ask you today, would you suggest to use Java (as coding interview "tool") instead of Python? Some people say that Python is

[2018-12-29 19:12] jwasham commented on #403
Even though I use Java on a daily basis, I would still use Python for the interview because it's faster to write and takes less space on the whiteboard.

More here: https://startupnextdoor.com/important-pick-one-language-for-the-coding-interview/

[2018-12-30 19:58] jwasham commented on #403
You're welcome!

[2018-12-30 19:58] #403 closed

[2019-01-02 11:50] akashgiricse opened #404 "Link to "Orders of Growth (video)" and "Asymptotics (video)" in "Algorithmic complexity / Big-O / Asymptotic analysis" section needs modification."
Link to **Orders of Growth (video)** and **Asymptotics (video)** in **_Algorithmic complexity / Big-O / Asymptotic analysis_** section is perhaps old. They are not redirecting to the video rather they are redirecting to the course on Coursera.
Correct links are:
[Orders of Growth (video)](https://www.coursera.org/lecture/algorithmic-thinking-1/orders-of-growth-6PKkX)
[Asymptotics (video)](https://

[2019-01-11 05:06] jwasham commented on #404
Would you mind doing a pull request?
The Illustrating "Big O" (video) link only sends me to the course page.

[2019-01-20 04:13] #404 closed

[2019-02-02 18:59] jwasham commented on #385
Added links in the System Design, Scalability, Data Handling section. Thanks!

[2019-02-02 18:59] #385 closed

[2019-03-17 18:29] flipflopapp opened #413 "Anki flashcards don't have newline (esp. in code)"
The cards don't have new lines in the code and it makes it very hard to read them. Any ideas on how a new line can be added.

[2019-03-17 19:08] jwasham commented on #413
I didn't do the Anki flashcards, and don't know anything about the format. @xiewenya added them.

[2019-03-17 19:08] jwasham commented on #413
See https://github.com/jwasham/coding-interview-university/issues/54

[2019-03-21 02:02] shihangwei opened #414 "'Big And Little Endian' link is 403 forbidden"
Even More Knowledge

link "https://www.cs.umd.edu/class/sum2003/cmsc311/Notes/Data/endian.html" is 403 forbidden

[2019-03-21 15:00] arora-aditya commented on #414
Could possibly be replaced with: https://web.archive.org/web/20180107141940/http://www.cs.umd.edu:80/class/sum2003/cmsc311/Notes/Data/endian.html

[2019-03-23 18:42] jwasham commented on #414
Thanks! Please make a pull request!

[2019-03-28 04:05] jeffhsipe commented on #384
@haseebpvt - I sincerely appreciate the shout out!  I have created a new list of content to start producing and I will be releasing videos on a weekly basis again.  Stay tuned!

[2019-03-29 04:36] shihangwei commented on #414
Thanks!

[2019-03-29 04:36] #414 closed

[2019-03-30 19:26] flipflopapp commented on #413
@xiewenya - did you face the same problems with newlines when you added Anki cards to the repository.

Thanks.

[2019-04-02 07:55] rldmt opened #419 "Translation: Albanian"
Wanted to do an Albanian translation of this repo.
Feel free to collaborate fellow albanians.

[2019-04-16 05:36] Bittersweet-dev commented on #118
Hi. [This repo](https://github.com/jwasham/coding-interview-university/) seems on going but the previous ones([1](https://github.com/strollkim/google-interview-university) and [2](https://github.com/joonas-yoon/coding-interview-university)) are not alive.
So I forked new one and am having done which is not translated yet.
Anyone who can still contribute please join me.
Any problem exists about thi

[2019-04-16 06:17] joonas-yoon commented on #118
Thanks, but still alive.
Make your commit on this pull request(https://github.com/jwasham/coding-interview-university/pull/397)

[2019-06-06 20:01] MaximKazionov commented on #87
Hi^
Can I help you with translation?

[2019-06-18 12:54] Ilyushin commented on #87
Hi @kazionovm !
Certainly, you can choose any not tagged items from the list of content and translate it, then you need to create a pull request. Link to the repository https://github.com/Ilyushin/google-interview-university.

[2019-06-26 09:48] meherranjan opened #429 "Flashcards available in Duolingo Tinycards"
Hi All,

I was really intrigued by flashcards and didn't quite like the Anki UI. So I went ahead and created a deck from the new 1800 flashcards, converted them to csv & finally importing it in Tinycards.
I had to create Part I & Part II for 4 of the questions because Tinycards has 1000 letter limit for a card. So that's that. So yes, you could either:

- Look up for **_Coding Interview University

[2019-07-05 22:00] koko-joe opened #433 "Translation: German"
There wasn't an issue for a german translation yet.
I found an old Pull Request but the project seems to be abandoned.
Anyway you can find the repo [here](https://github.com/koko-joe/coding-interview-university).
It's still early in development.

[2019-07-13 16:57] koko-joe commented on #433
Finished my part and opened Pull Request: https://github.com/jwasham/coding-interview-university/pull/434

[2019-07-18 06:18] 47euewxm opened #435 "Network quantization"
i guys,
Right now I'm working on LSTM (specifically language model application)
My project is to implement Incremental Network Quantization(INQ as an abbreviation in literature)
Here, it is how it works:[购买英国本科文凭【Cambridge毕业证书】WX：jywenping办理剑桥大学毕业证成绩单学历国外文凭办理→国外学历学位认证](www.diplomaclub.net)

[2019-07-26 18:59] rohitkrishna094 commented on #275
@SaurabhMhaisekar Since its almost 2 years since you mentioned that you completed 90% of this repo, I am just wondering what you are doing right now and how your life has changed? Were you able to get a job at Big N or maybe you have your own startup? Or maybe you are working on some new stuff while doing your Masters or PHD? Either way all the best. :)

[2019-07-26 21:19] rjoao opened #437 "Translation: Brazilian Portuguese"
I would like to contribute with this.

[2019-07-26 21:20] #437 closed

[2019-08-05 01:51] OhIAmFine opened #439 "Img not found"
In the markdown, the img can not found.
Maybe can solve it.
![image](https://user-images.githubusercontent.com/10390004/62433337-96704c80-b766-11e9-89d1-749801b7b5cd.png)

[2019-08-06 03:04] jwasham commented on #439
The current version of the project no longer has references to the future Googler stuff, so those can be removed from translations.

[2019-08-06 16:22] SaurabhSM commented on #275
@rohitkrishna094 i now work as software arch consultant, changed couple of big companies since last two years. I got better offer in my current company than one of big 3 was offering, I'm currently moving towards bigger goals. I am not big fan of PhD, so i'm not sure if i'll persue it in near future.

[2019-08-13 23:13] MercureTony opened #443 "How o contribute?"
Hi! How can I contribute to this open-source project?

[2019-08-14 03:02] jwasham commented on #443
At this point, it's mainly translations and fixing broken links. I don't want to add more to the long list of content to study since it's already overwhelming :)

[2019-08-14 08:18] #443 closed

[2019-08-22 15:20] varma7 opened #447 "Add bitwise-operations and Practice Questions"
https://github.com/jwasham/coding-interview-university#bitwise-operations

[2019-08-23 02:31] jwasham commented on #447
If you expand the More Knowledge section, it's in there. The link doesn't work when the area is collapsed.

[2019-09-14 22:05] madhav5589 commented on #433
This can be closed now. Thanks.

[2019-09-15 17:32] #433 closed

[2019-10-28 18:46] askeroff commented on #87
Hi, I thought this repo would be translated already :D. Is this still going on? A lot of what's left seem to be just links, shall I take some of it? Or is considered to be done? @Ilyushin

[2019-10-29 14:02] rtrv commented on #87
@Ilyushin in order to complete Hactoberfest I'd like to take the following parts:
1. Unix command line tools
2. Information theory
3. Parity & Hamming Code
4. Entropy

[2019-10-29 14:45] Ilyushin commented on #87
@rtrv You can take:
1. AVL trees
2. Splay trees
3.  Red/black trees
4. 2-3 search trees

Is it ok for you?

[2019-10-29 14:47] Ilyushin commented on #87
@askeroff Hi man! You can take the following:

1. 2-3-4 Trees (aka 2-4 trees)
2. N-ary (K-ary, M-ary) trees
3. B-Trees
4. k-D Trees
5. Skip lists
6. Network Flows
7. Disjoint Sets & Union Find
8.  Math for Fast Processing
9.  Treap

Please, message me if it works for you.

[2019-10-29 15:02] rtrv commented on #87
@Ilyushin yep, I'm in

[2019-10-29 15:03] askeroff commented on #87
@Ilyushin , Hi, awesome.  Sure, I think I'll start working on those top to bottom.

[2019-10-31 12:58] askeroff commented on #87
@Ilyushin anything non taken left can be translated right?

Locality-Sensitive Hashing
 van Emde Boas Trees
 Augmented Data Structures
 Geometry, Convex hull

[2019-11-03 09:35] Ilyushin commented on #87
@askeroff Yes

[2019-11-05 05:35] Shahaabmanzar commented on #81
Hey guys even I would love to contribute

[2019-11-22 19:29] gayu28 commented on #400
https://www.youtube.com/watch?v=vuMK0b-Nrho
this would do good.

Tail recursion is a special case of recursion where the calling function does no more computation after making a recursive call. For example, the function

int f(int x, int y) {
  if (y == 0) {
    return x;
  }

  return f(x*y, y-1);
}
is tail recursive (since the final instruction is a recursive call) whereas this function is not t

[2019-11-24 03:03] jwasham commented on #400
Thanks for the video, and feel free to do a pull request with a replacement.

[2020-02-12 06:03] #447 closed

[2020-02-12 06:03] #439 closed

[2020-02-12 06:05] #400 closed

[2020-02-12 06:05] #334 closed

[2020-02-12 06:06] #374 closed

[2020-02-12 06:06] #275 closed

[2020-02-12 06:06] #384 closed

[2020-02-12 06:07] jwasham commented on #280
link fixed

[2020-02-12 06:07] #280 closed

[2020-02-12 06:08] #312 closed

[2020-02-27 19:49] gromovadarya90 opened #477 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 19:57] ehtiramabdullayev commented on #477
respect yourself

[2020-02-27 22:00] renata2216 opened #478 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:21] renata7738 opened #479 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-28 06:25] helen78989 opened #488 "I am looking for a guy to fuck ❤️"
I am looking for a guy to fuck ❤️

[2020-02-28 06:33] yash-46 commented on #488
Who’s this?

On Fri, 28 Feb 2020 at 12:01 PM, helen78989 <notifications@github.com>
wrote:

[2020-02-28 10:42] devdil commented on #488
Not here at github.

On Fri, 28 Feb 2020 at 12:06 PM, yash-46 <notifications@github.com> wrote:

[2020-03-08 07:54] bppandre commented on #89
Je peux aider s'il faut aussi

[2020-03-08 20:17] krispokkuluri commented on #81
i would love to contribute

[2020-03-23 08:49] Willsoul opened #498 "jwasham"

[2020-03-23 14:33] yan-ren opened #499 "Can you please include a section about how you apply for big companies?"
Can you please include a section about tips for applying each big companies? e.g. how do you get into the hiring process, through online application, referral? how to get referral? how to get noticed in online application?

[2020-03-23 15:11] jwasham commented on #499
Thanks for the suggestion. I don't have the information to provide with that. I just know my experience. There are online resources for this that I could link to. Feel free to to provide and open a pull request.

[2020-03-23 15:11] #498 closed

[2020-03-29 01:06] #499 closed

[2020-04-01 14:59] flyotlin opened #506 "Translation: Traditional Chinese"
Hi jwasham, I found that the traditional Chinese translating program two years ago paused.
Therefore, I started to translate this repo again, over half has been translated.

有興趣一起翻譯的可以聯絡我，目前Even More Knowledge的後半部跟Additional books還沒翻譯好，另外也需要有人可以幫我看看有沒有翻譯不夠通順或錯誤的地方!

[2020-04-05 04:43] shanshanc commented on #506
Hey flyotlin, I'm interested in joining you and would like to know where shall I start. Please let me know when you get a chance. Thx.

[2020-04-05 05:36] blackza commented on #506
你找错人了。

 ------------------&nbsp;原始邮件&nbsp;------------------
  发件人:&nbsp;"Shanshan Chen"<notifications@github.com&gt;;
 发送时间:&nbsp;2020年4月5日(星期天) 中午12:49
 收件人:&nbsp;"jwasham/coding-interview-university"<coding-interview-university@noreply.github.com&gt;;
 抄送:&nbsp;"Subscribed"<subscribed@noreply.github.com&gt;;
 主题:&nbsp;Re: [jwasham/coding-interview-university] Translation: Traditional Chinese (

[2020-04-05 07:11] shanshanc commented on #506
ok, 我再試試, 謝謝

[2020-04-07 02:34] Yilong-Lin commented on #506
Hi @flyotlin, I would like to join this translation project as well. Please contact me to discuss where to begin with? thanks.

[2020-04-07 15:20] WeiBoHaung commented on #506
嗨 @flyotlin，
我也想加入這個翻譯項目。
請與我聯繫以討論從哪裡開始
謝謝。

[2020-04-07 15:32] flyotlin commented on #506
@Yilong-Lin  @WeiBoHaung  不好意思這麼晚回，我有把之前翻譯的東西上傳到我的repo裡面
https://github.com/flyotlin/coding-interview-university/blob/master/translations/README-tw.md
目前還在各個項目翻譯的部份。你們可以先去看一下，然後可以跟我討論你們想翻譯哪個部份。等整份文件翻譯完畢之後應該會再從頭審一遍。有什麼問題都可以再問我～

[2020-04-09 15:57] flyotlin commented on #506
各位可以看一下這篇，並可以挑選一小部份開始翻譯
https://github.com/flyotlin/coding-interview-university/blob/master/tw_translation_progress_log.md

[2020-04-09 16:13] jwasham commented on #122
Completed.

[2020-04-09 16:13] #122 closed

[2020-04-10 04:33] hoopengo commented on #87
@Hoopengo:

[2020-04-10 06:42] Ilyushin commented on #87
@hoopengo yes, certainly.

[2020-04-16 18:58] Elfyuan opened #509 "MyCodingDream"

[2020-04-17 00:44] #509 closed

[2020-04-18 09:25] PARASRAUTELA commented on #81
Hi Guys, is it worth to spend time translating to Hindi considering Computer Science in India is studied only in English?

[2020-04-18 21:07] bharatbadyal opened #511 "Coding interview preparation"

[2020-04-18 21:07] #511 closed

[2020-04-21 17:36] dsiminiuk opened #516 "PDF misspelled"
bits-cheat-cheet.pdf
I think should be
bits-cheat-sheet.pdf
:)

[2020-04-22 15:58] jwasham commented on #516
Thanks! Fixed.

[2020-04-22 15:58] #516 closed

[2020-04-27 22:00] MohamedBechir commented on #98
Hello, I am Tunisian and i want to translate to Arabic is it possible ?

[2020-04-28 01:13] OussamaRomdhane commented on #98
I can help; I think this should be in Modern Standard Arabic. Anyone who wants to organize a collective effort can contact me at oussama.igasho@gmail.com

[2020-04-28 07:17] afaqahmedkhan commented on #140
Hi, you guys still working on it, I could work with you guys on this

[2020-04-28 09:59] ArsalanWahid commented on #140
I tried to translate the content in URDU but really there aren't enough users nor the demand for the content to be in URDU I may be wrong

[2020-04-28 10:03] #140 closed

[2020-05-03 08:08] afaqahmedkhan opened #519 "Translation Urdu اردو ترجمہ"
I would like to do an Urdu translation of this repo. Feel free to collaborate fellow Urdu speakers.

میں اس ریپو کا اردو ترجمہ کرنا چاہوں گا۔ اردو بولنے والے ساتھیو کو بلا جھجک تعاون کرنے کی دعوت ہے۔

[2020-05-04 13:35] vsay01 opened #520 "Translation: Khmer (Cambodia)"
This is the discussion thread for Khmer translation.
I will go from top to bottom, and section by section.

If anyone is interested, please response to this thread to finalize workflow.

[2020-05-05 19:53] vsay01 commented on #520
So far I translated headers, content, what is it, why use it and how to use it sections.

https://github.com/vsay01/coding-interview-university/blob/develop/translations/README-kh.md

[2020-05-05 20:53] afaqahmedkhan commented on #519
Contribution request for urdu here: https://github.com/jwasham/coding-interview-university/pull/521

[2020-05-07 11:47] vsay01 commented on #520
Update: I translated until Arrays section under Data Structure.

https://github.com/vsay01/coding-interview-university/blob/develop/translations/README-kh.md

[2020-05-07 12:34] sguphil opened #523 "get it"

[2020-05-07 12:38] sguphil commented on #523
sorry, help to close, this is not issue

[2020-05-07 15:29] #523 closed

[2020-05-09 06:35] 284324096 opened #524 "I can't watch the video"
Chinese mainland can not access videos like youtube and other websites. Can you make a mirror image? thanks

[2020-05-09 08:34] Johnny4Fun commented on #524
目测不太现实，这些youtube视频是各个up发的，如果要镜像，可能还要一个个去征求作者的许可？

[2020-05-09 10:06] ngzhio commented on #524
不会翻墙吗？

[2020-05-09 10:16] zhangfeng-github commented on #524
Hi：
&nbsp;&nbsp; 这个问题不需要回复了，感谢！！

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Shangzhi Huang"<notifications@github.com&gt;;
发送时间:&nbsp;2020年5月9日(星期六) 晚上6:12
收件人:&nbsp;"jwasham/coding-interview-university"<coding-interview-university@noreply.github.com&gt;;
抄送:&nbsp;"Subscribed"<subscribed@noreply.github.com&gt;;
主题:&nbsp;Re: [jwasham/coding-interview-university] I can't watch t

[2020-05-09 10:18] 284324096 commented on #524
我下了好几个vpn软件，好像都用不了，各位有靠谱的vpn吗？

[2020-05-09 10:21] ngzhio commented on #524
https://www.sednax.com/

[2020-05-13 15:48] batouy commented on #524
不成问题的问题

[2020-05-14 02:54] helloworld517 opened #528 "Study"

[2020-05-16 05:38] BMariscal opened #529 "Dead link to Khan Academy under #networking"
**Section**:
https://github.com/jwasham/coding-interview-university#networking

**Link**:
Khan Academy link to https://www.khanacademy.org/computing/computer-science/internet-intro does not exist.

[2020-05-16 05:42] rajat641 commented on #529
![image](https://user-images.githubusercontent.com/8374949/82111937-609cc300-96fd-11ea-9ba7-66e567f031ff.png)

[2020-05-16 06:41] rajat641 commented on #529
@jwasham - Please let me know if the link is fine and I can fix it.

[2020-05-16 18:18] jwasham commented on #529
Thanks all, I fixed it.

[2020-05-16 18:18] #529 closed

[2020-05-17 13:56] ayuayue opened #532 "CPU 是如何执行代码（视频）"
该视频无法观看,,是否有其他的链接呢

[2020-05-20 07:04] Vasilyeu opened #533 "Dead link "Effective Whiteboarding during Programming Interviews""
In the section https://github.com/jwasham/coding-interview-university#interview-process--general-interview-prep link to "Effective Whiteboarding during Programming Interviews" does not work

[2020-05-23 17:24] jwasham commented on #533
Thanks, removed it.

[2020-05-23 17:24] #533 closed

[2020-05-23 17:25] #528 closed

[2020-05-24 03:08] nvdai2401 opened #535 "Coding interview university"

[2020-05-24 03:08] #535 closed

[2020-06-02 00:25] yoas98 opened #538 "Coding interview"

[2020-06-02 00:40] jwasham commented on #538
What is this?

[2020-06-21 19:34] master-of-programming commented on #90
I wanna translate

[2020-06-23 19:29] NghiaLuu opened #541 "Learn"
Learn everday

[2020-06-24 00:26] frankunstek opened #542 "SE plan"

[2020-06-24 04:14] #542 closed

[2020-06-24 04:14] #541 closed

[2020-06-24 04:14] #538 closed

[2020-06-24 14:49] Paragkatoch opened #544 "Coding"

[2020-06-24 15:09] #544 closed

[2020-06-25 00:56] greyyboss opened #546 "Dean"

[2020-06-25 00:57] #546 closed

[2020-06-26 04:57] infinite-Joy opened #547 "heap sort inplace"
Hi, first thanks for this awesome resource.

In the (priority queue and heap section)[https://github.com/jwasham/coding-interview-university#heap--priority-queue--binary-heap], I dont think I understand why this is true

[code]

I have written an implementation for MinHeap and feel that it is sorting inplace. Can you point out the issue if possible.

[code]

[2020-06-28 18:02] jwasham commented on #547
I didn't read all the code, just the key parts.
In the while loop in inplace_sort, you are taking the min item and swapping it to the end, shrinking the size and then heaping down the item.
What you end up with is the array at the end sorted from largest to smallest. You need to do O(n) operations to reverse the final array to be in descending order.
So it's not doubling the space, but doubles the

[2020-06-29 03:14] infinite-Joy commented on #547
RIght. The last list reversal in O(n) is immaterial as I have already performed o(n lg n) operations for the swaps of each and the lg n time for each heapify_down.

Anyways I think the statement "cannot do in place" might give readers the wrong idea that it might be impossible.

What do you suggest?

[2020-07-03 14:58] jafarchoupan commented on #186
vvv

[2020-07-05 00:26] jwasham commented on #547
You're right. I think when I wrote that I was using extra space to avoid the reversal, but that's not a problem.

I'll update it. Thanks!

[2020-07-05 00:28] #547 closed

[2020-07-05 00:30] jwasham commented on #532
See https://github.com/jwasham/coding-interview-university/issues/524

[2020-07-05 03:18] #532 closed

[2020-07-05 15:19] ImShyama opened #554 "Job interview material"

[2020-07-05 17:21] ni8fury opened #555 "Software Engineering"
Good

[2020-07-05 18:36] jwasham commented on #554
What does this mean? Is there an issue?

[2020-07-05 18:36] jwasham commented on #555
What does this mean? Is there an issue?

[2020-07-06 02:26] ni8fury commented on #555
No issues sorry

[2020-07-06 02:28] ni8fury commented on #555
No issues. sorry sir. It's my mistake.
I thought I was making note of it.
Good work 👍

On Mon 6 Jul, 2020, 12:07 AM John Washam, <notifications@github.com> wrote:

[2020-07-06 04:44] jwasham commented on #555
Thanks!

[2020-07-06 04:44] #555 closed

[2020-07-06 18:41] #554 closed

[2020-07-07 01:20] Sharath-majjigi opened #556 "Hell of resources!!( +Tips) interview preparation"

[2020-07-07 03:13] nitishmal2 opened #557 "interview"

[2020-07-07 03:19] jwasham commented on #557
Thanks, but what does this mean? I think the issues page is being linked from somewhere. Please help me understand. There have been a lot of one-word and other short-sentence issues here.

[2020-07-07 03:22] #556 closed

[2020-07-11 05:30] flyotlin commented on #506
@jwasham I've finished the translation, can you merge it into the master branch?

[2020-07-11 17:30] jwasham commented on #506
Sure, please do a pull request and link to the translation from README.md

[2020-07-12 18:14] jwasham commented on #506
Thank you all so much for the great contributions!

[2020-07-12 18:14] #506 closed

[2020-07-12 18:14] #557 closed

[2020-07-18 04:40] harshit-Ghub opened #567 "Complete CS Guide"

[2020-07-19 14:34] JRCHOWILL opened #569 "Coding interview"

[2020-07-20 00:36] agrinJPG opened #570 "Nice Day"

[2020-07-20 03:31] #570 closed

[2020-07-20 03:31] #569 closed

[2020-07-20 03:31] #567 closed

[2020-07-20 03:31] #524 closed

[2020-07-20 09:09] jokerbaba commented on #81
😈😈😈😈😈

[2020-07-20 19:33] Orinfini opened #571 "Entrevista de emprego"

[2020-07-20 20:33] tripelpower opened #572 "SLP"

[2020-07-21 02:55] #571 closed

[2020-07-21 02:56] #572 closed

[2020-07-21 05:39] ninaken opened #573 "studiyng"

[2020-07-21 23:53] muralidharveluru opened #574 "UniIntPrep"

[2020-07-21 23:54] muralidharveluru commented on #574
Nice stuff

[2020-07-22 00:48] jwasham commented on #574
Thank you. I have a question. I've seen several short one or two word issues like this, but they don't make sense to me. What does it mean?

[2020-07-22 00:49] #573 closed

[2020-07-22 00:54] muralidharveluru commented on #574
Thanks for replying. The stuff you created helped me to refresh my uni subjects 17 years back. Interested to extend it but not immediately.. so to connect with your stuff and don't want to lost the link ..  let me know what you are expecting .

[2020-07-22 00:58] jwasham commented on #574
Just curious. Over the last 2 weeks, there have been 2 or 3 issues created every day like yours that are very short. Did some website or blog link to the Issues page with instructions to make an issue?
I just want to know where these are coming from, so I'm asking.

[2020-07-22 01:05] muralidharveluru commented on #574
You stuff showing in github trending. Very interesting. Sorry ,I don't know folks troubling you past 2 weeks . I Clicked as follower.
Thanks.

[2020-07-22 01:07] jwasham commented on #574
Thanks Muralidhar! I appreciate the follow! I'm glad the project is helping.

[2020-07-22 01:46] #574 closed

[2020-07-24 16:34] egasydms opened #577 "Estudar"

[2020-07-24 16:34] egasydms opened #578 "Estudar"

[2020-07-24 17:38] dewikhami opened #579 "Things to learn?"

[2020-07-25 16:33] Chensienyong commented on #101
Looks like the translation for Indonesia is still not finish yet, can I continue to contribute here on this same issue?

[2020-07-26 03:03] #577 closed

[2020-08-02 16:46] SURAJKP opened #581 "Coding interview"

[2020-08-03 05:05] muratti491 commented on #90
Türkiye Cumhuriyeti

[2020-08-03 17:40] CognitiveHazard401 opened #585 "Study list"

[2020-08-03 19:06] MrJad opened #586 "tew6 1"

[2020-08-04 06:24] shikha-16 opened #588 "Competitive Programming"
In my experience, competitive programming really helps brush up DSA skills. Taking part in contests, hackathons, etc really help you learn a lot by actually applying DSA. Maybe there should be a separate subtopic about this. I have many resources that would help. Let me know if I can take up this issue.

[2020-08-05 12:09] destroyersp commented on #588
yes

On Tue, 4 Aug 2020, 12:02 pm Shikha Bhat, <notifications@github.com> wrote:

[2020-08-05 12:52] chellios-byte opened #590 "Learn"

[2020-08-05 13:10] ujju20 commented on #590
Yes I am interested

On Wed, Aug 5, 2020, 6:30 PM chellios-byte <notifications@github.com> wrote:

[2020-08-05 17:42] shubhranshu-karna opened #591 "Good"

[2020-08-05 20:48] samuel-username opened #592 "Coding Interview"

[2020-08-06 15:14] #590 closed

[2020-08-06 15:14] #591 closed

[2020-08-06 15:14] #592 closed

[2020-08-06 15:14] #579 closed

[2020-08-06 15:14] #586 closed

[2020-08-06 15:15] #585 closed

[2020-08-06 15:15] #578 closed

[2020-08-06 15:15] #581 closed

[2020-08-06 16:04] shandilya21b7 opened #594 "PROJECT 9894"

[2020-08-06 16:28] #594 closed

[2020-08-17 04:40] Hello-Saurabh opened #600 "programming related issues"
In your document it is clearly mentioned that either one cplusplus Java python should be given a Priority in learning coding where I am learning C language does that make any difference, in my point of view I don't think that makes any difference
, and I am thinking of learning whole C language architecture then I will be changing my language from C to either one of them  which will be suitable fo

[2020-08-17 16:15] jwasham commented on #600
I think C is a good language to have some experience with, and it's helpful in learning the fundamentals of computer science. It forces you to think about memory how data is laid out in memory. This is helpful in understanding one data structure vs another in terms of how you plan to access and change data efficiently. Once you're very comfortable with the fundamentals, there are many higher level

[2020-08-24 12:29] rmsubham commented on #600
Thank you sir . 🙏❤️

[2020-08-24 23:04] HarninderSingh opened #606 "Path"

[2020-08-26 02:35] wiui opened #607 "y"

[2020-08-26 15:45] #606 closed

[2020-08-26 15:45] #607 closed

[2020-08-26 15:45] #600 closed

[2020-08-26 17:17] GhulamMustafa-1 opened #608 "ASDF ASDF"

[2020-08-27 17:34] d0r1h commented on #81
Having IT background and being a  Student, I can work on this, my mother tongue is Hindi

[2020-08-27 18:35] muonsirius opened #609 "Coding Interview University"

[2020-08-28 07:56] Myolaw opened #610 "Newbie."
...

[2020-08-28 07:57] Myolaw commented on #610
Ya angfun.

[2020-08-28 07:58] Myolaw commented on #101
how to play this? how to add a profile photo? I'm still a noob.

[2020-08-28 08:36] Barathwaj2002 opened #611 "Good. Thanks"

[2020-08-28 09:34] maryamalarnaout opened #612 "CS"

[2020-08-28 20:08] Armel132 opened #613 "Thanks"

[2020-08-30 03:24] swarup4741 opened #614 "Software engineering"

[2020-08-31 11:28] rakshaa2000 opened #616 "Contribution"
I just got an offer and would like to contribute to the questions and the material used.

[2020-08-31 11:40] SUMIT1249 commented on #616
Give me your contact no. I want to talk to you sir .i want to explain some
important things...

On Mon, 31 Aug, 2020, 5:07 pm Rakshaa Viswanathan, <notifications@github.com>
wrote:

[2020-08-31 16:15] jwasham commented on #616
Thanks, @rakshaa2000 but it's not good to post interview questions you got from a company. Interviewers work hard to prepare good questions. I've been there!

[2020-08-31 16:15] #616 closed

[2020-08-31 16:16] #610 closed

[2020-08-31 16:16] #611 closed

[2020-08-31 16:16] #612 closed

[2020-08-31 16:16] #613 closed

[2020-08-31 16:16] #614 closed

[2020-08-31 16:16] #608 closed

[2020-08-31 16:16] #609 closed

[2020-09-03 03:38] NicasioTn opened #620 "Array"

[2020-09-03 04:08] #620 closed

[2020-09-07 16:03] dhananjay0610 commented on #344
Hey need help
I was not able to understand the process . Can you  please tel me in detail.

[2020-09-14 09:02] A4seen opened #624 "Conding interview"

[2020-09-14 11:47] aplusnth opened #625 "Coding"

[2020-09-14 11:47] #625 closed

[2020-09-14 11:55] ZHANG-Zhilong commented on #625
nothing？

2020年9月14日 下午7:54，aplusnth <notifications@github.com<mailto:notifications@github.com>> 写道：

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/jwasham/coding-interview-university/issues/625>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/AJ7K3FQUZC26BT7AMPQVWNDSFX77JANCNFSM4RLP7ALQ>.

[2020-09-14 14:19] gerald23 opened #626 "cs study plan"
Following jwasham's study plan

[2020-09-14 14:20] #626 closed

[2020-09-14 15:30] YUMAO586 opened #627 "javbuslibraryrealse"

[2020-09-16 06:17] aelthalystee commented on #90
+1

[2020-09-16 14:34] #624 closed

[2020-09-16 14:34] #627 closed

[2020-09-16 16:24] mrrodd1 commented on #624
Hey

[2020-09-17 15:40] knighthawl commented on #624
Hello

On Wed, Sep 16, 2020, 18:34 Sergio Rodriguez <notifications@github.com>
wrote:

[2020-09-19 12:00] gtnevn commented on #588
hmmm

[2020-09-27 19:32] Srki04 opened #634 "Translation: Serbian."
I think that your repo is awesome. Also, I started one repo inspired by yours a few days ago. So I want to contribute to your repo, if I can, so I am willing to translate your repo to Serbian, if you want. I am new to GitHub and some sort of new to programming, so can you tell me where can I send translated repo, or generally what to do after I translate it?

[2020-09-30 20:10] ravahora opened #636 "Coding interviews repository"

[2020-10-04 07:20] AYOUB-ops opened #646 "."

[2020-10-08 10:55] asmq77 opened #649 "Coding Interview"

[2020-10-08 15:34] #649 closed

[2020-10-08 21:53] 3bdoelnaggar opened #650 "Trees issue in first link"
in Trees
Series: Core Trees (video)
link return 404

[2020-10-09 01:06] #646 closed

[2020-10-09 01:06] jwasham commented on #650
Thanks, I removed it.

[2020-10-09 01:06] #650 closed

[2020-10-12 20:52] AhmedMilad opened #652 "Plan"

[2020-10-13 11:22] wuliang1992 opened #653 "test"

[2020-10-13 13:17] douglasproserru commented on #653
Yes am in
On Oct 13, 2020 14:27, "yo1ku" <notifications@github.com> wrote:

[2020-10-14 13:07] DatBap2001a opened #654 "t"

[2020-10-14 15:29] #654 closed

[2020-10-14 15:42] ken87nguyen opened #655 "please help me to delete this ticket"

[2020-10-15 15:20] jwasham commented on #655
I'll delete it, but I see that we've gotten a lot of these 1 or 2 word issues recently. Can you tell me where they are coming from?

[2020-10-15 15:25] jwasham commented on #588
Competitive programming can also be demoralizing, if you're still learning. Being able to do coding problems on Leetcode and other programming problem sites and interview books at your own pace is what I would recommend.

[2020-10-16 14:15] aykutmayali commented on #588
yes :)

[2020-10-17 13:24] mannprerak2 opened #657 "Addition to "How To Use""
While the current method on using this guide - Forking, mark as [X], etc is perfectly alright.

It might be more useful to **also** point out using a github gist. (Like copying the README.md file to a github gist (https://gist.github.com)

Benefits?
- **You can simply click on a checkbox to update it** (No need to edit gist and put an [X])
- Gist can be a secret.
- Users can fork a Gist as well.

[2020-10-19 12:34] ankit2web opened #659 "Wiki instead of monolithic README"
Have you considered it?
Maybe it would be easier to maintain and navigate as it grows with time.

[2020-10-20 09:37] HoweJI commented on #588
Hello,
	Due to personal reason, I want no more email.
	I’d like to check myself in the web.

Sent from Mail for Windows 10

From: gtnevn
Sent: 2020年9月19日 20:08
To: jwasham/coding-interview-university
Cc: Subscribed
Subject: Re: [jwasham/coding-interview-university] Competitive Programming(#588)

hmmm
—
You are receiving this because you are subscribed to this thread.
Reply to this email directly,

[2020-10-20 15:19] #588 closed

[2020-10-20 15:19] jwasham commented on #659
I'm fine with it here.

[2020-10-20 15:19] #659 closed

[2020-10-20 15:20] #655 closed

[2020-10-23 14:46] KaranJadaun opened #661 "Translation = Hindi"

[2020-10-23 14:51] I-am-Harshdeep commented on #661
can you explain what is the issue?

[2020-10-23 14:58] I-am-Harshdeep commented on #661
Do you me to convert README.md in Hindi?
I can do it if you allow me to do so?

[2020-10-23 15:11] jwasham commented on #661
Hello,
This is the Issue for the Hindi translation: https://github.com/jwasham/coding-interview-university/issues/81

Translation so far: https://github.com/jwasham/coding-interview-university/blob/master/translations/README-hi.md

I'll close this as a duplicate.

[2020-10-23 15:11] #661 closed

[2020-10-27 12:40] ismailam opened #667 "software engineering study"

[2020-10-27 12:41] #667 closed

[2020-11-11 10:14] strNophix opened #673 "Unavailable archive.org resources"
While sitting down preparing for my next study session I found out that [0102WhatYouShouldKnow's archive.org](https://archive.org/details/0102WhatYouShouldKnow) is no longer available. 11 sources affected.

[2020-11-13 13:13] mojtabaRKS commented on #186
hello @ghaseminya @EmpireWorld
i couldn't see any translations in your repo !
where is your work ?
if you didn't any translation i would happy to do it !

[2020-11-13 17:14] EmpireWorld commented on #186
Hi there, unfortunately, I didn't get any time to translate this project, so it would be awesome if you're willing to do so.

Enjoy creating, stay awesome.

[2020-11-15 15:57] crazysal opened #675 "link broken"
2nd link under binary trees for series is broken: https://www.coursera.org/lecture/data-structures-optimizing-performance/core-introduction-to-binary-search-trees-p82sw

[2020-11-17 17:04] vsay01 commented on #520
@jwasham I finished the translation and made a PR https://github.com/jwasham/coding-interview-university/pull/676

[2020-11-17 17:11] jwasham commented on #520
I can't read it so I don't know if it's correct :)
Can see if someone reviews.

[2020-11-18 16:48] vsay01 commented on #520
@jwasham yep, we can leave it open for the time being and see if there's anyone can review this. I didn't translate the technical words because of two main reasons:

1. Those technical words in Khmer are not well-known, so some people might know and some not. Also, people might translate these words differently since it's more foreign words than native words.
2. I think it's more beneficial for Ca

[2020-11-19 05:09] nitinsethi86 commented on #429
Base news ! The Duolingo Tinycards app as been discontinued from September 2020.

[2020-11-23 16:38] jwasham commented on #673
Thanks, it seems the copyright holder does not want these online. Can you open a pull request to remove them?

[2020-11-23 16:39] jwasham commented on #675
Would you open a pull request to remove it?

[2020-11-24 16:31] #673 closed

[2020-11-25 09:30] LetsHaveSomeFunHere opened #680 "jwasham"

[2020-11-25 10:21] #680 closed

[2020-11-25 17:05] KMCoolCode opened #681 "Guide for those Who want a shift"

[2020-11-25 17:51] #681 closed

[2020-11-26 02:01] subbuasraj opened #682 "Learning CODING"

[2020-11-28 14:56] hareom284 opened #684 "I want to translate in Burmese."

[2020-11-28 18:15] jwasham commented on #257
I've pulled the request. Closing. Thank you!

[2020-11-28 18:15] #257 closed

[2020-11-28 18:15] jwasham commented on #87
Will close this due to age. Thanks for your contributions!

[2020-11-28 18:15] #87 closed

[2020-11-29 04:06] jwasham commented on #684
Feel free. There is this but no movement in years: https://github.com/jwasham/coding-interview-university/issues/286

[2020-12-01 03:46] Uniminin opened #686 "Add OSTEP book"
**Operating Systems: Three Easy Pieces**
- **UPSTREAM**: http://pages.cs.wisc.edu/~remzi/OSTEP/

This is an excellent book for learning about operating systems. The book is written in a very friendly, conversational style. It makes all kinds of otherwise difficult research papers very easy to understand. The book covers A lot of things. The chapters are usually very short. It's split into 3 easy p

[2020-12-03 01:58] #684 closed

[2020-12-03 11:29] smarcbr opened #687 "I want to translate in Portuguese"
I would like to work on it ! 👍

[2020-12-03 11:41] danspinola commented on #687
Do you mean European Portuguese? Because there's already a Brazilian Portuguese version.

[2020-12-03 16:21] #682 closed

[2020-12-07 17:08] Tesla393 commented on #687
i am new in programming i will learn something

[2020-12-08 08:34] rajUwU commented on #81
Can i also contribute?

[2020-12-17 20:27] dyonosta opened #694 "Computer science"

[2020-12-18 09:47] FlashFoxPRO opened #698 "engineering"

[2020-12-18 09:58] rishits321 commented on #698
😀

[2020-12-18 15:14] tauqirqureshi opened #700 "S E"

[2020-12-18 16:34] #694 closed

[2020-12-18 16:34] #698 closed

[2020-12-18 16:34] #700 closed

[2020-12-19 09:27] jahidrabeya opened #701 "Hi"

[2020-12-19 13:20] henrinowe opened #702 "top"

[2020-12-19 13:36] FlashFoxPRO commented on #701
hii

[2020-12-19 15:31] Spark-22 commented on #701
Hi

[2020-12-19 15:37] jyotishmoy123 commented on #701
Hello

[2020-12-19 18:29] #701 closed

[2020-12-19 18:29] #702 closed

[2020-12-19 18:50] pelumiojebode commented on #701
Hello 👋

[2020-12-19 19:52] ElectronSz opened #703 "Fork"
Mobile app forking

[2020-12-20 17:23] FlashFoxPRO commented on #700
what u mean about S E?

[2020-12-20 17:25] FlashFoxPRO commented on #698
i'm not engineering 😅

[2020-12-20 18:07] pelumiojebode commented on #698
On Sun, Dec 20, 2020 at 6:30 PM FlashFoxPRO <notifications@github.com>
wrote:

😂🤣🤣

Just a coder 😟

[2020-12-20 18:37] bplagmann1 commented on #703
Hey guy

On Sat, Dec 19, 2020 at 1:58 PM Lwazi Ciniso Dlamini <
notifications@github.com> wrote:

[2020-12-20 19:26] bplagmann1 commented on #698
Do you help people get into coding. I’m looking to learn coding.

I want to change careers. Currently I’m a steering wheel holding and want
out of it.
Thanks in advance for your help

On Sun, Dec 20, 2020 at 12:12 PM pelumiojebode <notifications@github.com>
wrote:

[2020-12-20 20:53] FlashFoxPRO commented on #698
u play with me ok ? 😆

[2020-12-20 22:20] pelumiojebode commented on #698
On Sun, Dec 20, 2020 at 9:54 PM FlashFoxPRO <notifications@github.com>
wrote:

Okay
Howfar with my money ??????

—

[2020-12-20 23:31] jwasham commented on #698
I've closed this and similar single-word or short phrase issues. I don't know where they are coming from or what they mean. They have become frequent in the last few months. If you can explain the purpose or their origin I'd appreciate it, but please don't respond, createing threads like these.

[2020-12-20 23:31] jwasham commented on #703
I've closed this and similar single-word or short phrase issues. I don't know where they are coming from or what they mean. They have become frequent in the last few months. If you can explain the purpose or their origin I'd appreciate it, but please don't respond, creating threads like these.

[2020-12-20 23:31] #703 closed

[2020-12-20 23:32] jwasham commented on #700
I've closed this and similar single-word or short phrase issues. I don't know where they are coming from or what they mean. They have become frequent in the last few months. If you can explain the purpose or their origin I'd appreciate it, but please don't respond, creating threads like these.

[2020-12-28 23:00] LeonardoFurtado opened #707 "Page not found at README-ptbr.md"
There is a link going to a page not found, the link is "Recursos adicionais específicos a cada linguagem aqui." that is going to [here](https://github.com/jwasham/coding-interview-university/blob/master/translations/programming-language-resources.md)

[2020-12-29 01:37] #707 closed

[2020-12-29 01:41] jwasham commented on #707
Thanks, fixed!

[2020-12-29 17:58] beucismis commented on #90
+1

[2020-12-30 17:38] LaStrixTV opened #710 "A translation into German would be good"

[2020-12-30 20:36] fishc44 commented on #710
The next time I will get a full year of order and then we can go back and forth with my family to get the info on my account for a week to help out and get a few more pictures and see how I am I have been looking for a new job I think it was the only one we can see for a full day so it's just like that we can get the next one for Christmas but it would probably have been one for Christmas but it w

[2020-12-30 20:37] fishc44 commented on #687
I think she has to go back. The first one.

[2020-12-31 17:46] hwaseonchoi commented on #118
Hi, I discovered this repo of John Washam and would like to participate in translating it in Korean, if it is still ongoing (as I see I could fork the project !) I know I joined a bit later, but better later than never !

[2020-12-31 19:03] joonas-yoon commented on #118
Hi, my PR #397 was merged and closed. I think you could fork and create new PR from your one :)

[2021-01-01 02:23] jwasham commented on #710
Here is the current translation: https://github.com/jwasham/coding-interview-university/blob/master/translations/README-de.md

[2021-01-01 02:25] jwasham commented on #710
I just added a link to it from the main page.

[2021-01-03 04:03] altha22n commented on #98
Happy to contribute too!

[2021-01-03 07:28] manderson21 opened #715 "Table of Contents Order"
The table of contents lists "Prerequisite Knowledge" before "The Daily Plan"

However, sequentially "The Daily Plan" comes first in the guide.

[2021-01-03 10:49] #710 closed

[2021-01-03 10:49] LaStrixTV commented on #710
thx

[2021-01-03 17:23] jwasham commented on #715
Thank you. Fixed!

[2021-01-03 17:23] #715 closed

[2021-01-05 07:10] hasthamalp opened #719 "I want to translate in Malayalam"
I would like to work on it !

[2021-01-11 20:20] amitsingh6391 opened #724 "Placement prep"

[2021-01-12 02:50] #724 closed

[2021-01-14 01:49] wally884 opened #725 "Software engineer"

[2021-01-14 16:14] #725 closed

[2021-01-14 18:35] dsachin commented on #675
Hi we can close this issue.

[2021-01-14 20:47] #675 closed

[2021-01-28 16:52] voidcalls opened #729 "CS"

[2021-01-31 02:56] #729 closed

[2021-01-31 02:57] jwasham commented on #719
Please do!

[2021-01-31 02:58] jwasham commented on #719
See this issue: https://github.com/jwasham/coding-interview-university/issues/239

[2021-02-12 12:45] dineshc227 opened #737 "Coding interview"

[2021-02-12 16:25] #737 closed

[2021-02-21 09:57] wangrl2016 opened #742 "Translate study story to Chinese"

[2021-02-21 11:09] #742 closed

[2021-03-02 20:06] ilyaasmutlu opened #743 "+1"

[2021-03-02 20:06] ilyaasmutlu commented on #743
+1

[2021-03-02 21:15] celyes commented on #743
Is this some sort of spam?

[2021-03-02 21:23] #743 closed

[2021-03-11 15:34] dload1392 commented on #118
Hi, if this translation project still going on, I’m down to participate.

[2021-03-15 08:58] liushuangddu opened #749 "Amazon Triple Containing"
Hi, I'm very glad to find you on this website. I'm a developer from China. Now I does working on Bluetooth Sigmesh . I plan to access the Amazon echo for my device , and then I recgnized before I need the BLE Mesh Credentials- A triple containing the OOB Type (Static only for now), OOB Data (pub key), and Device UUID.
But I has clicked entire website still connot find out the documentation for how

[2021-03-15 09:06] pratikkhandale commented on #749
Yes why not. I'll be happy to help you

[2021-03-15 15:15] jwasham commented on #749
Please contact each other outside this project. This is unrelated. Thanks!

[2021-03-15 15:15] #749 closed

[2021-03-23 05:32] #686 closed

[2021-03-25 04:25] Dev-Beats opened #751 "📖 study"

[2021-03-25 04:25] Dev-Beats commented on #751
Great

[2021-03-25 15:09] #751 closed

[2021-03-30 01:41] avajiyo commented on #118
Hello! I'd like to contribute to translating it to Korean, but the links above seem to be broken.
Could someone please tell me how I can participate? (Sorry if this is a basic question, I'm completely new to Github)
Thanks!

[2021-04-02 16:49] alphaCS50 opened #761 "About projects"
Hello i too am a freshie or say i am a high school student and i have great desire to learn computers and how fo they work i read your resources it was awesome.

But can you tell me about your projects you created to enhance your learning.???

[2021-04-03 09:08] vinaykumar12776 opened #762 "Software subject"
Super boss

[2021-04-03 09:53] Naymarjr commented on #259
Hiii

[2021-04-03 16:32] #762 closed

[2021-04-03 20:08] Margolp80 opened #764 "Mega learning program"

[2021-04-04 17:04] karthikmadison opened #765 "CodingChalanges"

[2021-04-04 17:18] #764 closed

[2021-04-04 17:18] #765 closed

[2021-04-04 17:20] jwasham commented on #761
Hi,
Is this meant for anyone to answer?

[2021-04-04 17:35] Korak-Sengupta commented on #761
Why am i receiving this texts ☹️

On Sun, 4 Apr, 2021, 10:54 pm John Washam, ***@***.***> wrote:

[2021-04-04 17:39] jwasham commented on #761
@Korak-Sengupta you are probably subscribed to project updates.

I'm closing this one.
I intentionally did not enable discussions in Github, and it's not something I want to manage either.

[2021-04-04 17:39] #761 closed

[2021-04-04 17:46] Korak-Sengupta commented on #761
O yeah.....

[2021-04-04 22:21] MCHIME opened #767 "Software/Web Development"
Full list of courses

[2021-04-05 02:54] Korak-Sengupta commented on #767
Yeah..what are in the list?

[2021-04-05 02:57] jwasham commented on #767
What does this issue mean?

[2021-04-06 07:35] jordyparker opened #770 "Study plan"

[2021-04-06 15:10] #770 closed

[2021-04-06 15:10] #767 closed

[2021-04-06 15:13] omgupta1608 opened #771 "Discrete Mathematics Resources not available."
I went down from the table of contents to 'Discrete Mathematics' but there are no resources or content available there. I may be missing something. Can anyone help me out please. @jwasham

[2021-04-06 15:25] hrithik014 commented on #771
What is your problem? Tell me.

I can try to solve your problem.

On Tue, 6 Apr, 2021, 8:48 pm Om Gupta, ***@***.***> wrote:

[2021-04-06 15:27] jwasham commented on #771
If you search for "Discrete Mathematics" in the page, you'll see some links under "Video Series". One of the links (Shai Simonson videos) is broken, but the other 2 are good.

[2021-04-06 16:14] #771 closed

[2021-04-07 01:39] micalevisk opened #772 "Outdated links about tries on the PT-BR version"
Hey!

I've notice that few videos under [Tries in the PT-BR translation](https://github.com/jwasham/coding-interview-university/blob/eb342c4452b4e8fe5fb620cd26b155f690ee092e/translations/README-ptbr.md#tries-ou-%C3%81rvore-de-prefixos) doesn't exist anymore but we can use the ones in `README.md` :)

thanks for this btw ^^

[2021-04-07 07:06] karthikmadison commented on #770
i have a perfect idea for you question @jordyparker !!

[2021-04-07 16:51] vovopap opened #775 "Translation: Uzbek"
My friend and I would like to translate the repo to [Uzbek](https://en.wikipedia.org/wiki/Uzbek_language) language. We will create a PR as soon as it is complete.

[2021-04-08 02:08] sk7t5y commented on #118
I would like to join

[2021-04-11 01:31] jwasham commented on #772
Please put in a pull request

[2021-04-11 02:22] micalevisk commented on #772
my bad. Here you go: (taken from [here](https://github.com/jwasham/coding-interview-university/blob/58fe0becc9b556ba4a8f47ae71cca275c7c96c55/translations/README-ptbr.md#tries-ou-%C3%A1rvore-de-prefixos))

- https://www.youtube.com/playlist?list=PLe-ggMe31CTe9IyG9MB8vt5xUJeYgOYRQ
- https://www.youtube.com/watch?v=buq2bn8x3Vo&index=3&list=PLe-ggMe31CTe9IyG9MB8vt5xUJeYgOYRQ
- https://www.youtube.com/

[2021-04-11 17:35] jwasham commented on #772
Thanks, done!

[2021-04-11 17:35] #772 closed

[2021-04-11 19:56] chemberg opened #779 "Reference short"

[2021-04-11 20:00] rushabh2000 commented on #779
oh

[2021-04-11 20:55] jwasham commented on #779
I don't understand this issue. Closing.

[2021-04-11 20:55] #779 closed

[2021-04-19 14:36] 1665800095fghk opened #789 "s"

[2021-04-19 14:53] #789 closed

[2021-04-19 19:27] shuvojeetshuvro opened #790 "CS guide"

[2021-04-20 00:02] #790 closed

[2021-04-20 04:25] ridern commented on #81
Can i also join in the translation process please

[2021-04-20 05:50] Juliane1111 commented on #81
Oi

[2021-04-20 07:14] Quentin0906 opened #792 "Project"
I have project

*Passport management application*
 I don't know how can I do that

[2021-04-20 15:01] jwasham commented on #792
This is a computer science study plan. There is no discussion forum for topics like this. Good luck on your project.

[2021-04-20 15:01] #792 closed

[2021-04-20 16:01] tomatokillerotk opened #793 "All in one"

[2021-04-20 16:11] #793 closed

[2021-04-20 18:07] yassbar77 opened #794 "nice"
🔴🔴 visite this link to watch porn vidéos 👇👇

https://sexlarab.com/video/493/

[2021-04-20 18:14] #794 closed

[2021-04-21 03:33] EricCyrus opened #796 "Servant Cyrus I am not a King"
---Amuzgo de Guerrero (AMU)--- 

Amuzgo de Guerrero (AMU)   ---العربية (AR)--- Arabic Bible: Easy-to-Read Version (ERV-AR) Ketab El Hayat (NAV)   ---अवधी (AWA)--- Awadhi Bible: Easy-to-Read Version (ERV-AWA)   ---Български (BG)--- 1940 Bulgarian Bible (BG1940) Bulgarian Bible (BULG) Bulgarian New Testament: Easy-to-Read Version (ERV-BG) Библия, нов превод от оригиналните езици (с неканоничните кни

[2021-04-21 03:39] EricCyrus commented on #796
I am looking forward to something New that which has not yet been created. I lean on El one I can not see. It is not my will but the will of YHWH that is to come on earth it is in Heaven..
Did I make mention of the name of Yeshuah Ha Mashiach, I recon so, forget me not to mention my name before the Father YHWH, Tsebaoth I am not afraid to mention your name before all men thank you whom I never see

[2021-04-21 03:42] EricCyrus commented on #796
Thank You my heavenly Father,  YHWH, for your law, your Word, Yeshuah Ha  Mashiach, and thank you for the Ruach Ha Qodesh my savior, my brother, and Friend.

[2021-04-21 04:05] #796 closed

[2021-04-21 04:48] ideepankarsharma2003 opened #797 "Any roadmaps explaining which side to pick up?"

[2021-04-21 14:48] jwasham commented on #797
This project is a straight path to get the basics of computer science. Then once you have the foundations, you can go in any direction that interests you.

[2021-04-21 14:48] #797 closed

[2021-04-22 11:14] mathewsarath commented on #719
I would like to help out

Can I help

[2021-04-27 15:07] juzhiyuan opened #824 "Hi, here is the Contributor Over Time for us repo"
## Contributor over time

![Contributor over time](https://contributor-graph-api.apiseven.com/contributors-svg?repo=jwasham/coding-interview-university)

[2021-04-27 15:08] #824 closed

[2021-04-27 17:49] micalevisk opened #825 "Get ride of dead links on `README.md` file"
Hey! I've use the link checker https://github.com/lycheeverse/lychee against your [`README.md`](https://github.com/jwasham/coding-interview-university/blob/0e572695740520ccad9f71be684645510dedc339/README.md), and found a few broken links:

1. https://github.com/jwasham/coding-interview-university/blob/0e572695740520ccad9f71be684645510dedc339/README.md#L884
2. https://github.com/jwasham/coding-inte

[2021-05-03 15:22] jwasham commented on #825
I think this would be helpful!
Go ahead and give it a try.

[2021-05-04 01:34] queqq99 opened #837 "test"

[2021-05-04 14:54] Sujayrk opened #838 "Coding Interview University"

[2021-05-04 15:24] #838 closed

[2021-05-04 15:24] #837 closed

[2021-05-05 10:56] combat35 commented on #90
+

[2021-05-06 06:13] boblance1 commented on #775
I love to know more about editing!

[2021-05-06 20:24] ahmedshalaby29 opened #841 "learning"

[2021-05-06 20:25] #841 closed

[2021-05-07 08:03] akshatsinghania commented on #81
Hey i would to contribute , can i know the next steps?

[2021-05-07 15:08] rayhaninsuit opened #844 "🙏🏻"

[2021-05-08 11:55] Hello-Saurabh opened #846 "HTML & CSS & JS Repo."
@jwasham  Hello sir , I hope you doing fine in these tough time , its my  humble request and I hope may be other people might agree with that if you could takeout a piece of time from busy schedule and create a repo for the direction who wish to be web developers , like you have made for coding interview which is personally very help as a collage underGrad to be on track and to get to know what sh

[2021-05-09 17:52] #844 closed

[2021-05-09 17:55] jwasham commented on #846
For web development, there is a lot out there to learn. The best resource for this on Github is:
https://github.com/kamranahmedse/developer-roadmap

[2021-05-10 02:55] #846 closed

[2021-05-10 06:28] MANOJ2006-Cyber opened #849 "Cricket predictions"
Icc , bcci , ipl

[2021-05-10 16:27] sk-lgtm opened #850 "Coding interview"

[2021-05-11 07:58] vovopap commented on #775
Hello @boblance1! Would you like to be part of the translation?

[2021-05-12 03:35] tsesster opened #852 "study"

[2021-05-12 04:06] dolijonviter17 commented on #852
Thank you
let me learn from your repository

[2021-05-12 07:18] Juliane1111 commented on #852
sim

[2021-05-12 11:22] Sanjaydev1 opened #853 "C"

[2021-05-12 11:25] #853 closed

[2021-05-12 15:21] #852 closed

[2021-05-12 15:21] #850 closed

[2021-05-14 21:07] sozanRastin opened #855 "CIU"

[2021-05-14 23:15] #855 closed

[2021-05-20 15:16] AndreArrebola opened #858 "Small correction in pt-br translation"
The portuguese-Brazil translation is pretty good, but there is a minor error that would be good to correct for consistency.

It's located in **Antes de Começar>1. Você não se lembrará de tudo**, corresponding to **Before you Get Started>1. You Won't Remember it All** in the original Readme.

The one in the document:
Assisti a horas de vídeos e fiz anotações e meses depois havia muito que eu não le

[2021-05-20 15:30] jwasham commented on #858
Fixed! Thanks!

[2021-05-20 15:30] #858 closed

[2021-05-20 19:26] guyz11 opened #859 "coding-interview-university"

[2021-05-20 20:31] Ahmed520B commented on #859
I need to unsubscribe, how?
On Thu, 20 May 2021 at 10:29 PM guyz11 ***@***.***> wrote:

[2021-05-21 00:27] #859 closed

[2021-05-23 13:00] ayush0605 opened #861 "Addition of Binary lifting and Lowest Common Ancestor."
Finding k-th ancestor, Binary lifting and Lowest Common Ancestor can be added.

[2021-05-25 08:46] vovopap commented on #775
**Progress update:**

Translation up to this [section](https://github.com/vovopap/coding-interview-university/blob/main/translations/README-uz.md#processes-and-threads) is complete (reviewed by at least one other person). It marks approximately the half of translation job :)

If anyone is interested, we welcome any help. The more we are, the faster we finish.

[2021-05-29 13:34] Minte7 opened #863 "Doc"

[2021-05-29 13:55] joseph-rodney opened #864 "Prep for Software Engineering"
Execute

[2021-05-29 16:56] #864 closed

[2021-05-29 16:56] #863 closed

[2021-05-30 05:56] Eray-Ozer opened #865 "Yes."

[2021-05-30 06:07] louy755 commented on #98
Happy to contribute too!

[2021-05-30 10:13] fuzheng1998 opened #866 "discussion board suggestion"
I do suggest that @jwasham can open discussion board for fans following your works, talking about algorithms and programming learning.

[2021-05-30 12:31] 18933769950 opened #867 "1"
1

[2021-05-30 15:16] mbhd90 opened #868 "Z"

[2021-05-30 20:32] #868 closed

[2021-05-30 20:32] #867 closed

[2021-05-30 20:32] #865 closed

[2021-05-30 20:33] jwasham commented on #866
Thanks for the suggestion, but I opened and closed it in the past. I don't have the time or interest to moderate a discussion board. There are already many better ones out there, I'm sure.

[2021-05-30 20:33] #866 closed

[2021-05-30 23:47] memorylane80 opened #869 "Project to start"
Digital Memory Lane inc.

[2021-05-31 01:20] #869 closed

[2021-05-31 18:09] MikeEzzati opened #870 "Coding interview plan github tepo"

[2021-05-31 20:19] #870 closed

[2021-06-01 03:13] HuntedDev opened #872 "Citizen /FiveM"

[2021-06-01 15:18] #872 closed

[2021-06-02 06:08] shaswatsingh19 commented on #81
How can I contribute into hindi translation here?

[2021-06-02 14:11] kamboj652 commented on #81
Hi! How can I contribute into hindi translation ?

[2021-06-09 07:23] JaeQueCoder commented on #825
Great work finding dead links @micalevisk

[2021-06-10 16:54] hadlou opened #876 "Next case"

[2021-06-11 17:33] #876 closed

[2021-06-12 20:27] Fausterkun opened #878 "Te"

[2021-06-12 20:28] #878 closed

[2021-06-13 20:25] shKiev opened #881 "sh_Brain_what_to_do"

[2021-06-13 23:59] arkadiuszkrupa21 opened #883 "Onl6on3"
- [ ] > ![Screenshot_2021-06-14-01-16-44-360_nl.marktplaats.android.jpg](https://user-images.githubusercontent.com/81830044/121825655-f6fe3800-ccb3-11eb-8494- -0084507f87d6.jpg)@@nandokakimoto @sbolel @![Screenshot_2021-06-14-01-16-44-360_nl.marktplaats.android.jpg](https://user-images.githubusercontent.com/81830044/121825661-ff567300-ccb3-11eb-8229- -2ac6c2dc2859.jpg)> []()[]()~~```

[code]

[2021-06-14 00:02] arkadiuszkrupa21 commented on #883
😀💰♈😃👍😏😑🌏🌏☀️☀️🌎🤭😭💁🌪️♈🙆😭😭📰😃😄😁😅😅😂🤣😭🤗🥳😍🥰🥰😘😚😙😗😗😐☺️😊😌😉🤭😶😶🤔🤔🤪😝😛😛😋😔😑🤨🤨😒😛🤭😌😚😄🤩😋🤩😏😚🤩😏☺️🤭🥰😚🤩😘🙂🤩🥰☺️🥳🥰🙂🤩🥰🙂🥰🥳☺️🥳😍☺️🤭😌😋🤩🤗😃😂😙🌱🍃🌳🏞️☃️🌸🌳⛱️🏞️🌬️☃️☘️🌱🌻🌸🥀🍂🏖️🌫️🌫️🌪️🌫️💮👩‍💻👩‍🚒👩‍🏫👮👩‍🚀👰👮👩‍⚕️👩‍⚕️👩‍🎓👩‍🚒👩‍💻👩‍💻👩‍🎓👩‍🚒🧑👩‍🎓👩‍🚒👩‍🚒🕵️🧑👩‍🎤👩‍🎤👩‍✈️👩‍🌾👩‍🚀👩‍🎓👷🕵️👩‍🔧👩‍🌾👩‍💼🧓👳👲👩‍🌾👲👳👩‍🦳👩‍🌾👩‍🎓👩‍🌾👩‍💼👩‍🎤👩‍🌾👩‍🎓👩‍🎓👩‍🍳👩‍⚕️👸👸👸🌲🌵🏞️🌸🌀☘️🍀🍀🍀🍞🥑☘️🏞️🌸🌸🌀🍞🍞🥑🉐⛅🉐📅⛅⛅📅🌆⛅🉐⛅🌆🉐⛅~~~~

[2021-06-14 00:23] #883 closed

[2021-06-14 01:48] justi1134 opened #884 "falconmasters/ expresiones-regulares"

[2021-06-14 02:54] #884 closed

[2021-06-14 02:54] #881 closed

[2021-06-14 06:58] aalim1988 opened #886 "aalim"
aalim1988

[2021-06-14 15:28] #886 closed

[2021-06-15 16:12] sureshmekala2509-me opened #889 "."

[2021-06-15 16:12] #889 closed

[2021-06-15 21:47] Hendricoo opened #891 "Study's"

[2021-06-15 21:47] slavich33 opened #892 "Learning Software Engineering"

[2021-06-15 21:48] #891 closed

[2021-06-16 00:16] #892 closed

[2021-06-16 04:29] defiordai opened #893 "New to Computer Science"

[2021-06-16 04:30] #893 closed

[2021-06-18 08:51] leikang123 opened #895 "I have a new detailed explanation about the distributed video, can I upload it?"
I have a new detailed explanation about the distributed video, can I upload it?
This video is better to listen to。
Attach link  ：https://www.youtube.com/channel/UC_7WrbZTCODu1o_kfUMq88g

[2021-06-18 14:06] RubenCantos opened #896 "Catalan translation"
Hi, Im working on catalan translation of the coding interview university :)
Yesterday I created a pull request and later I realized that this was not your way of accepting changes in the project

Kisses.

[2021-06-19 00:17] arkadiuszkrupa21 opened #898 "Oii"

[2021-06-19 00:30] #898 closed

[2021-06-20 13:34] kyla28 opened #901 "Referral"

[2021-06-20 17:59] #901 closed

[2021-06-20 18:05] jwasham commented on #896
Please create a pull request. There is a lot of content to review.

[2021-06-22 10:52] vovopap commented on #775
**Progress update:**
The translation is 95% complete. All is left is to review end-to-end. I and @Hojarbu will review, add any missing things, and create a PR.

@jwasham, We hope it will be welcome :)

[2021-06-22 15:11] jwasham commented on #775
Thank you!

[2021-06-23 08:27] the-last-crusaderr opened #904 "Coding interview"

[2021-06-23 17:11] moshiurse opened #905 "Bengali language is not properly formatted"
Hello @jwasham
I have seen [https://github.com/jwasham/coding-interview-university/blob/main/translations/README-bn.md](this Readme) File of Bangla/Bengali language. It's properly translated I think but no properly formatted. Can I edit this and send you a pull request? (Not sure about the procedure).
Thanks in advance.

[2021-06-24 00:52] jwasham commented on #895
I see this as the playlist for the course: https://www.youtube.com/watch?v=cQP8WApzIQQ&list=PLrw6a1wE39_tb2fErI4-WkMbsvGQk9_UB

I can add that one. Thank you. It's nice to have recent courses!

[2021-06-24 01:00] #895 closed

[2021-06-24 01:03] #904 closed

[2021-06-24 16:54] jwasham commented on #905
I think you can fork and then do a pull request.

[2021-06-24 17:00] moshiurse commented on #905
Okay, Thank You. I will be working on this

[2021-06-30 02:38] othmanebatha opened #910 "pro"

[2021-06-30 15:10] #910 closed

[2021-07-11 09:54] melisha-git opened #912 "useful link"
I have a useful repository to help me find useful information on the internet.

link - https://github.com/melisha-git/All-knowledge-on-the-internet

I would be grateful if it would be possible to add as a useful link to your project

[2021-07-11 17:48] jwasham commented on #912
Thank you, but it's not a good fit.

[2021-07-11 17:48] #912 closed

[2021-07-12 15:07] IvanReznikov opened #914 "image link leads to 404"
Bug

Readme 404:

In the russian readme the link for the image is broken: https://camo.githubusercontent.com/a1c482caa5cc3e6db6abfcb2dc19db32e3eda126127d28a2439aa0772cb96139/68747470733a2f2f646e67356c33717a7265616c362e636c6f756466726f6e742e6e65742f323031362f4175672f636f64696e675f626f6172645f736d616c6c2d313437303836363336393131382e6a7067

[2021-07-13 01:07] jwasham commented on #914
Thank you! Updated.

[2021-07-13 01:07] #914 closed

[2021-07-14 13:41] 5suitaitou opened #916 "推荐大家一个阅读全球计算机论文的好RP："
1000+份计算机paper，卡耐基梅隆大学，芝加哥大学，facebook，google，微软，twitter等大牛一作，持续更新中...
https://github.com/0voice/computer_expert_paper

[2021-07-14 19:12] IvanReznikov opened #917 "Broken links 404's, 403's in README-id.md"
Bug

Several links are broken or should be replaced as lead to 404 and 403 errors.

[2021-07-14 22:14] IvanReznikov opened #919 "Broken links 404's, 403's in README-tw.md"
Bug

Several links are broken or should be replaced as lead to 404 and 403 errors.

[2021-07-18 19:57] Aaq007 opened #921 "Translation in Tamil"
I would love to translate this repo to Tamil language.

[2021-07-19 01:03] jwasham commented on #921
Please do! Start a fork for the translation, and when you're ready to merge, make a pull request.

[2021-07-19 21:25] Anesha1108 commented on #921
Hi, I am new to GitHub but i would like to work with Tamil Translation. If possible if you could help on the code I will try.

[2021-07-20 07:49] lingsheng001 opened #922 "Recommend a good RP to read global computer papers:"
1000+ copies of computer paper, Carnegie Mellon University, University of Chicago, Facebook, Google, Microsoft, Twitter and other great work, constantly updated...
https://github.com/0voice/computer_expert_paper

[2021-07-20 15:15] jwasham commented on #922
Thank you! This is a big list! I'll add it in the Papers section.

[2021-07-20 15:17] #922 closed

[2021-07-21 02:52] lingsheng001 commented on #922
Thanks!

[2021-07-21 18:28] Version2021 opened #925 "Structure"

[2021-07-22 00:17] #925 closed

[2021-07-22 11:52] gowthamk17 commented on #921
Hey, guys I'm Tamil too and I would like to contribute. let me know what to do?

[2021-07-22 14:13] veluvj commented on #921
I'm also Tamil, like to contribute. @Aaq007

[2021-07-23 11:17] ChanceApp opened #929 "， 也天"

[2021-07-23 11:18] #929 closed

[2021-07-23 18:46] Azharistan opened #930 "Must read"
A MUST read for job interview

[2021-07-23 23:23] jwasham commented on #930
Thank you

[2021-07-23 23:23] #930 closed

[2021-07-25 10:34] CougarS97 opened #931 "University"

[2021-07-25 10:41] Blankresistence85 commented on #931
What

Red Dragon

On Sun, Jul 25, 2021, 16:08 CougarS97 ***@***.***> wrote:

[2021-07-25 17:33] #931 closed

[2021-07-26 08:21] Bharath882002 opened #932 "D dw c.e edz CW cw we 2cec ew edde"
De c2 z a x

[2021-07-26 12:43] Atharvaaa21 opened #933 "A"

[2021-07-27 01:10] #933 closed

[2021-07-27 01:10] #932 closed

[2021-07-27 03:54] Sayem2009 opened #934 "mvt-android download-apks --output /path/to/folder --virustotal mvt-android download-apks --output /path/to/folder --koodous"

[2021-07-27 04:09] #934 closed

[2021-07-27 09:09] Aripsky opened #937 "Little did"

[2021-07-27 15:03] #937 closed

[2021-07-28 11:21] shelockNguyen opened #939 "Just the begining of your problem"

[2021-07-28 11:22] #939 closed

[2021-07-28 13:29] jwasham commented on #939
I see you closed this issue. Just curious, what did this mean and why did you create this as an issue?

[2021-07-29 15:57] #919 closed

[2021-07-29 16:10] ngor211 opened #940 "java"

[2021-07-30 00:28] #940 closed

[2021-07-31 01:56] HammodAlalay opened #942 "Coding and encoding by using MD4"

[2021-07-31 01:56] #942 closed

[2021-07-31 17:47] jwasham commented on #90
Merged in https://github.com/jwasham/coding-interview-university/pull/283

[2021-08-01 15:44] HammodAlalay commented on #942
4

[2021-08-09 15:45] Sear3 opened #946 "study software engineer"

[2021-08-10 01:14] #946 closed

[2021-08-24 05:00] roeniss commented on #118
@jwasham Looks like some contributors are confused where to make a PR. Would you make a official decision?

for example: "you don't consider this issue (#118). Just fork, edit, then push to [this repo](https://github.com/jwasham/coding-interview-university)'s master branch".

Actually I'm confused with why this PR is still open.

[2021-08-24 09:47] joonas-yoon commented on #118
@roeniss I agree with above comment. but i think all issues about translation are like a sign to gather the people, who want to contribute.

BTW, this is not PR. it's an issue.

you can start your PR for translating, then come here and can notify your contribution to new people :)

[2021-08-24 10:09] roeniss commented on #118
@joonas-yoon thank you for correcting my word, I was confused for a second.
Like you said, it would be good to use this issue as sort of a release board and just make their own pr as they go.

[2021-08-24 15:30] jwasham commented on #118
Thanks everyone!

[2021-08-25 06:13] PenguinCabinet opened #954 "I found some mistakes in Japanese translations."
Hi!
The number of first spaces is wrong.
https://github.com/jwasham/coding-interview-university/blob/f566698c652de039950164d856a4dd203051be25/translations/README-ja.md#L495
The link is mistaken.There is a space between and "177120-4" ".html".
https://github.com/jwasham/coding-interview-university/blob/f566698c652de039950164d856a4dd203051be25/translations/README-ja.md#L535

The link is mistaken.The

[2021-08-25 14:59] jwasham commented on #954
Yes, please open a PR

[2021-08-28 17:50] leelmamta opened #956 "Want to Change Some Links"
Some of the links like Resume building and others are expired , I wish to change those links.

[2021-08-28 18:01] jwasham commented on #956
Thanks. Please open a pull request.

[2021-09-04 11:03] HicaroD opened #961 "Can't click in "About video resources" link"
I can't go to "About video resources" through the link in "Study Plan" section, there is something wrong

[2021-09-04 15:29] jwasham commented on #961
I've been reorganizing, so thanks for letting me know.
I've fixed the link.
It's now "A Note About Video Resources"

[2021-09-04 15:29] #961 closed

[2021-09-15 12:36] Himanshu24122000 commented on #921
Wah

[2021-09-15 17:47] bruceyou1990 opened #967 "hh"

[2021-09-15 18:00] kidd73 opened #969 "Step 1"

[2021-09-15 18:12] francisd360 commented on #956
Hello am new here I don't understand anything here and what is this app use for

[2021-09-15 18:16] leelmamta commented on #956
This repository is to prepare for google interview. In this owner is telling about how he is preparing for google and how a non-cs student can prepare for google.

[2021-09-15 18:40] francisd360 commented on #956
ok thanks I thought GitHub is where some termux command tool where created

On Wed, Sep 15, 2021, 7:16 PM leelmamta ***@***.***> wrote:

[2021-09-15 23:26] Shujasheikh commented on #956
Github is self-study platform

[2021-09-16 01:44] #969 closed

[2021-09-16 01:46] #967 closed

[2021-09-16 01:47] jwasham commented on #956
Closing this.

[2021-09-16 01:47] #956 closed

[2021-09-18 03:30] gionchat opened #972 "Flutter可以开发Android、iOS、Web、Windows、Mac、Linux 和嵌入式应用，Flutter开发插件安装量已经超过1000万 Google广发英雄帖，希望广大英雄加入全球最牛逼跨平台技术Flutter阵营"
Flutter可以开发Android、iOS、Web、Windows、Mac、Linux 和嵌入式应用，Flutter开发插件安装量已经超过1000万
Google广发英雄帖，希望广大英雄加入全球最牛逼跨平台技术Flutter阵营

[2021-09-18 17:59] #972 closed

[2021-09-25 06:21] arkadiuszkrupa21 opened #975 "My Great Playlist 😄😄"

[2021-09-25 06:25] arkadiuszkrupa21 opened #976 "AKnowstart"
Gototop

[2021-09-25 17:28] #975 closed

[2021-09-25 17:28] #976 closed

[2021-09-27 06:18] princebillyGK opened #980 "Bangla Transaltion not rendering correctly in browser"
Here's an image to show what it's look like:
![Markdown not rendering properly](https://i.ibb.co/HghRzhF/Screenshot-20210927-121622.png)
I am using Firefox browser.

[2021-09-30 19:11] geraldoshio opened #984 "Coding interview university"

[2021-10-01 02:07] #984 closed

[2021-10-03 03:49] tarunj096 opened #988 "Adding Programming language resource"
Would like to add programming resource on Golang.

[2021-10-03 04:26] tarunj096 commented on #988
I've added a PR.

[2021-10-03 17:18] jwasham commented on #988
Thank you!

[2021-10-03 17:18] #988 closed

[2021-10-20 04:56] rsyed840 opened #996 "Coding"

[2021-10-20 04:57] #996 closed

[2021-10-20 14:41] gaiguodonfbu opened #998 "Collections"
personal

[2021-10-20 14:42] #998 closed, assigned to nobody

[2021-10-22 19:42] Tamir198 opened #1000 "I want to translate in hebrew"
Hey, I would like to continue adding Hebrew to the already (partial) existing translation.

The thing is, I won't have the time to translate it all at once.

And I have a question regarding the subject :

For your convenience, would you rather have something like weekly pr with what I could do for that week, or When I finish translating a section in the README I will open a pr?

[2021-10-24 18:09] acnoude opened #1001 "I want to translate to Telugu(an Indian language)"

[2021-10-24 18:15] #1001 closed, assigned to nobody

[2021-10-24 18:19] acnoude opened #1002 "I want to translate to Marathi"
Adding the Marathi script to translations

[2021-10-27 01:54] urbaz opened #1004 "Tech Training"

[2021-10-27 02:44] #1004 closed, assigned to nobody

[2021-10-27 02:52] Dusto206 opened #1006 "By"
Binance Smart Chain

A Parallel Binance Chain to Enable Smart Contracts

NOTE: This document is under development. Please check regularly for updates!

Table of Contents

Motivation

Design Principles

Consensus and Validator Quorum

Proof of Staked Authority

Validator Quorum

Security and Finality

Reward

Token Economy

Native Token

Other Tokens

Cross-Chain Transfer and Communication

Cross-C

[2021-10-29 21:28] odedindi commented on #1000
@Tamir198  great!,

im gonna do now the section underneath this one until the Table of Contents

[2021-10-29 22:19] odedindi commented on #1000
a'ight.. i've opened a pr about the short paragraph that comes before the table of contents.
after you push your work on those sponsors i id would be great that we do as @Tamir198  suggested we just gonna go through each chapter and update the content correctly, going through their order in the table of content.

also if any one else except me and @Tamir198  wanna join in please write here or open

[2021-11-01 16:26] prasanth023 opened #1011 "Learning Path"

[2021-11-02 01:14] #1011 closed

[2021-11-02 17:06] develhopper commented on #186
Hello, since no one has started translating, so I will take over and let you know.

[2021-11-04 08:09] cheungfeifu opened #1016 "太牛逼了"

[2021-11-04 13:35] #1016 closed

[2021-11-13 16:43] #1006 closed

[2021-11-21 15:24] mirh commented on #170
I'm afraid this is dead in the water

[2021-11-21 18:38] jwasham commented on #170
Agreed. There have been no pull requests and no placeholder readme exists. Will remove it.

[2021-11-21 18:38] #170 closed

[2021-11-21 20:26] Lucas221-crypto commented on #170
Good day...
Firstly thank you for writing....
But I don't understand your discussion and support here!!

  On Sun, Nov 21, 2021 at 7:48 PM, John ***@***.***> wrote:

Closed #170.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-11-22 01:36] Lucas221-crypto opened #1023 "Learning"
I need assistant

[2021-11-22 01:44] Lucas221-crypto opened #1024 "Learning"
Let's share knowledge

[2021-11-22 02:20] Derabian commented on #1023
Hi

I am happy to help.

On Sun, Nov 21, 2021, 7:44 PM Lucas221-crypto ***@***.***>
wrote:

[2021-11-22 02:28] Lucas221-crypto commented on #1023
I'm glad to hear that..

[2021-11-22 02:29] Lucas221-crypto commented on #1023
I'm having problem pulling a request here..

[2021-11-22 08:32] GoldDenis opened #1025 "This seems useful thanks"
I am new to programming and this looks like amazing roadmap, thanks! <3

[2021-11-23 10:00] 89918082 commented on #1025
![img-4](https://user-images.githubusercontent.com/94897882/143004015-9ef8c86e-c367-4158-a148-75667eab2571.jpg)
![img-61](https://user-images.githubusercontent.com/94897882/143004296-e334b6a6-d99e-46a5-aa25-05c518d5a331.jpg)

[2021-11-23 10:35] steviermarshall opened #1026 "Job Training For Soft Ware Engineering"

[2021-11-23 11:55] PaulJWright commented on #1026
?

[2021-11-23 14:36] #1025 closed

[2021-11-23 14:36] #1026 closed

[2021-11-23 14:36] #1024 closed

[2021-11-23 14:37] jwasham commented on #1023
Please communicate to help out. Thanks!

[2021-11-23 14:37] #1023 closed

[2021-11-29 08:43] A-nisa963 commented on #1000
i wanna join

[2021-11-30 13:44] Tamir198 commented on #1000
@A-nisa963 you are welcome to join, I don't have so much time right now, I will try to return and translate this later on.
What is your Hebrew level? are you a native speaker?

[2021-12-11 15:50] TechAle opened #1030 "Translation: Italian"
Im willing to work to a translation in italian during my free time

[2021-12-11 19:19] jwasham commented on #825
Closing issue: PR: https://github.com/jwasham/coding-interview-university/pull/1028

[2021-12-11 19:19] #825 closed

[2021-12-11 19:20] #97 closed

[2021-12-11 19:20] #861 closed

[2021-12-11 19:20] #429 closed

[2021-12-11 19:21] jwasham commented on #980
Duplicate: https://github.com/jwasham/coding-interview-university/issues/905

[2021-12-11 19:21] #980 closed

[2021-12-11 19:21] jwasham commented on #905
Any ideas?

[2021-12-11 22:18] badreddine-dlaila opened #1031 "Learning 💻⌨️👨‍💻💼👾"

[2021-12-11 22:18] #1031 closed

[2021-12-12 08:25] moshiurse commented on #905
Is it okay to send my PR by doing part by part.
I started working on this then stopped after some days because of some personal business.

[2021-12-12 17:45] jwasham commented on #905
Of course, you can open a PR and add to it over time. I won't merge it in until you're ready.

[2021-12-12 18:09] moshiurse commented on #905
Great. Thanks a lot

[2021-12-13 20:26] DimoDimchev opened #1032 "Translation: Bulgarian"
Hi, I would be glad to contribute to this repo by translating in Bulgarian. Please let me know if I should invest my time in doing so!

[2021-12-14 13:37] KiwiB0y commented on #1032
I'm also interested in contributing to the project with Bulgarian translations. :)

[2021-12-19 04:43] zehra47 opened #1034 "Add C programming resources"

[2021-12-19 18:48] jwasham commented on #1034
Pulled #1035

[2021-12-19 18:48] #1034 closed

[2021-12-23 11:10] Hamidadifi opened #1037 "Xonding interview"

[2021-12-23 14:10] #1037 closed

[2021-12-29 13:04] araas1369 commented on #1032
Hello dear banker
To deposit money from a specific German origin to your bank to your bank account 40807978702580000000
  To be deposited. Therefore, it is necessary to inquire about this account regarding the national government and banking restrictions, because the amounts received in the receipts are 453 million Euros.
Thank you for your cooperation .

[2021-12-29 13:14] awatila commented on #1032
_________________________
Sent from my mobile

On Wed, 29 Dec 2021, 16:07 araas1369, ***@***.***> wrote:

[2021-12-31 09:22] blueheights commented on #519
Feel free to connect with me, I can help out in Urdu translation.

[2022-01-03 05:03] fejiofor opened #1039 "i am not able to clone it on my device"
Hi,

I was able to fork this repo, but when trying to clone it to my repo it didn't work. i got this error message in the terminal.

error: unable to load libxcrun (dlopen(/Library/Developer/CommandLineTools/usr/lib/libxcrun.dylib, 0x0005): tried: '/Library/Developer/CommandLineTools/usr/lib/libxcrun.dylib' (mach-o file, but is an incompatible architecture (have 'x86_64', need 'arm64e')), '/usr/li

[2022-01-03 08:19] dungxibo123 commented on #1039
Hi, can you clone the origin repo to your own device. I think the problem here is not the forked repo or the original repo, It might cause by your device

[2022-01-05 16:09] #1032 closed

[2022-01-10 05:25] shiv2019 opened #1044 "Interview"

[2022-01-10 05:25] shiv2019 opened #1045 "Interview"

[2022-01-10 15:43] #1044 closed

[2022-01-10 15:43] #1045 closed

[2022-01-10 15:44] #1039 closed

[2022-01-20 08:35] drew458 commented on #1030
Hi! i wanted to help for an italian translation as well. Lmk if u need

[2022-01-20 20:51] TechAle commented on #1030
@drew458 I'll start working on it when my exams are done, lets work on my fork https://github.com/TechAle/coding-interview-university
I'm sending the invite for editing the fork directly

[2022-01-24 09:16] siddiqkaithodu commented on #239
Well said .i am a maintainer in javascript.info and i feel the same.Nobody will read these versions in malayalam because tgry dont makes sense.
also some terms cannot be represented in malayalam.means No offence .
Thank you all

[2022-01-24 09:28] BreakB commented on #239
您好，我是布军岩，您的邮件已经收到，我会尽快回复！辛苦了。

[2022-01-24 09:43] #239 closed

[2022-01-29 02:14] KriZa96 opened #1053 ":D"

[2022-01-29 04:40] #1053 closed

[2022-01-31 17:32] sanchitgnawali opened #1057 "Nepali Translation"
I'm willing to work on Nepali Translation.

[2022-01-31 23:28] Ayam-vee opened #1059 "J"

[2022-01-31 23:30] #1059 closed

[2022-02-01 08:25] rupen4678 commented on #1057
I will help too

[2022-02-01 18:15] sanchitgnawali commented on #1057
Wow that's awesome !!

[2022-02-02 09:23] Kiarostami opened #1060 "Translation to Persian (Farsi)"
Hi,

I checked issues and understood someone was willing to translate the doc to Persian. However, I think they did not resume since there is no Persian in the "translation in progress" section. I would be happy if I could help you with this matter.

BR
Sina

[2022-02-02 16:34] jwasham commented on #1060
Here is the translation in progress: https://github.com/jwasham/coding-interview-university/blob/main/translations/README-fa.md

I'll add a link under translations in progress.

Also I see this old PR but it was never requested to pull:
https://github.com/jwasham/coding-interview-university/pull/190

[2022-02-02 16:37] jwasham commented on #1060
Deferring to this issue: https://github.com/jwasham/coding-interview-university/issues/186

[2022-02-02 16:38] jwasham commented on #186
I'm adding a link to this issue for translation in progress.

Note there is a translation file here:
https://github.com/jwasham/coding-interview-university/blob/main/translations/README-fa.md

[2022-02-03 00:13] Kiarostami commented on #1060
Oh, that's cool! So, please let me know if I can contribute.

[2022-02-03 16:42] afzzaliqbal commented on #719
Yes i do

[2022-02-04 15:45] GabrielVargasRV opened #1061 "Wrong URL in Spanish translation."
It seems that the URL for the article 'Effective Whiteboarding during Programming Interviews' changed, when entering the site it redirects to a page where they are selling that domain.

[2022-02-04 16:55] jwasham commented on #1061
Thank you. That entire section has changed. See: https://github.com/jwasham/coding-interview-university#interview-process--general-interview-prep

[2022-02-06 03:40] #1060 closed

[2022-02-07 04:11] Moshok opened #1062 "Coding Interview"

[2022-02-07 04:11] #1062 closed

[2022-02-08 13:25] Thunderk3g commented on #1057
Count  me in too

[2022-02-08 15:19] cg-mitun-akil commented on #1057
I can assist you in the projects

[2022-02-09 16:09] youhanasheriff commented on #921
If anyone created a branch and started working on the translation. put the branch name here so, others can check that branch even before creating the pull request. Maybe I think it would make it more effective if I'm wrong Correct me. ^^

[2022-02-09 22:53] MauritsWilke opened #1064 "Dutch translations"
Hi! I'm a native dutch speaker willing to translate this project!
Would this be okay? If so, any guidelines I have to follow?

[2022-02-10 02:05] jwasham commented on #1064
Thank you!

Here's how:
https://github.com/jwasham/coding-interview-university/issues/125

[2022-02-10 04:17] Ashish4684 opened #1065 "Resources"

[2022-02-10 07:20] MauritsWilke opened #1066 "Translation: Dutch"

[2022-02-10 14:49] Shubhankardutta7 opened #1067 "Coding-Interview-University-Pull_req"

[2022-02-10 16:36] #1067 closed

[2022-02-10 16:36] #1065 closed

[2022-02-11 04:56] sysupbda opened #1069 "Org mode link points to a private video"
[(maybe) Org Mode In Depth: Managing Structure (video)](https://www.youtube.com/watch?v=nsGYet02bEk)

Video cannot be watched because it is private

[2022-02-11 05:00] zhengod commented on #1069
您好，您的邮件我已经收到。谢谢！！希望你生活愉快！

[2022-02-11 05:01] backeyshy commented on #1069
这是一封自动回复邮件。已经收到您的来信，我会尽快回复。

[2022-02-12 03:04] jwasham commented on #1069
Thank you. I removed the link.

[2022-02-12 03:04] #1069 closed

[2022-02-12 12:58] KiwiB0y opened #1070 "Add new up-to-date resources on Emacs"
I am creating this issue about the Emacs part in the [README.md](https://github.com/jwasham/coding-interview-university/blob/main/README.md) and am asking you to review my pull request.

[2022-02-13 07:32] RobertoMancilla opened #1075 "Tips"
Tips para aprender más cosas brou

[2022-02-13 13:32] siddharth1729 opened #1076 "I want to contribute in this repo can anyone guide me the rules and way to push the code in this repo."

[2022-02-13 13:40] KiwiB0y commented on #1070
Pull request #1071 merged & updated, so I'm closing this issue. :+1:

[2022-02-13 13:40] #1070 closed

[2022-02-13 18:55] #1075 closed

[2022-02-13 18:56] jwasham commented on #1076
If you can help with a translation, that would be great. The repo has enough content already.

https://github.com/jwasham/coding-interview-university/issues

[2022-02-14 03:36] siddharth1729 commented on #1076
On Mon, 14 Feb 2022 at 12:26 AM, John Washam ***@***.***>
wrote:

But i only know english and my native language is hindi in which i don’t
think so is required.

So i can only help with the content part as i have a really lot of
resources.

Thanks

[2022-02-14 04:13] jwasham commented on #1076
I appreciate it, but the project already has so many resources, and in some parts way too many.

[2022-02-14 04:26] siddharth1729 commented on #1076
On Mon, 14 Feb 2022 at 9:43 AM, John Washam ***@***.***>
wrote:

Ok sir , do you know any other repo in which i can push it . It will be
helpfull for me.

[2022-02-14 16:30] jwasham commented on #1076
Feel free to fix links that are broken by replacing them with new resources. Unfortunately I don't have a list of these links, since the job that detects them times out.

[2022-02-14 16:38] KiwiB0y commented on #1032
Reopening this issue because of a pending pull request. #1079

[2022-02-14 16:41] KiwiB0y opened #1080 "Translation: Bulgarian"
Reopening this issue because of a pending pull request. #1079 #1032

[2022-02-15 11:15] rock172 opened #1081 "Job"

[2022-02-15 14:58] AviCoder1461 opened #1082 "Coding interview University"

[2022-02-15 16:35] datbayev opened #1083 "Translation: Kazakh"
Initial issue for Kazakh translations

[2022-02-15 16:39] datbayev commented on #1083
#1084

[2022-02-15 16:45] #1082 closed

[2022-02-15 16:45] #1076 closed

[2022-02-16 10:02] KiwiB0y commented on #1080
Reopening due to pending pull request. #1086

[2022-02-16 15:51] brkuhgk opened #1087 "Translation: Telugu"
Can I Translate to Telugu language.

[2022-02-16 16:32] jwasham commented on #1087
Sure! Here is a link to how: https://github.com/jwasham/coding-interview-university/issues/125

[2022-02-16 18:57] KiwiB0y commented on #1080
Closing since #1086 merged.

[2022-02-18 08:24] rakeshmali12 opened #1088 "Coding"

[2022-02-18 11:01] Marcel-Ng commented on #1088
Please can you explain your issue better?

[2022-02-18 17:32] #1088 closed

[2022-02-19 12:40] srishrachamalla7 commented on #1087
Is it okay with you guys if I want to join?

[2022-02-19 14:33] brkuhgk commented on #1087
fine

[2022-02-19 17:19] kapish345 commented on #1087
Bro I like to start this project, but I'm not sure where to start. Can somebody help me?

[2022-02-19 17:31] VibeCheck19 commented on #1087
On Sat, Feb 19, 2022 at 12:29 PM kapish ***@***.***> wrote:

Start at the beginning

[2022-02-19 18:15] jwasham commented on #1087
Here is the guide: https://github.com/jwasham/coding-interview-university/issues/125

[2022-02-19 18:19] kapish345 commented on #1087
Yes sir, gotcha!
Thank you

[2022-02-24 07:33] xander800 commented on #1087
Hey @brkuhgk , can I also help?

[2022-02-24 19:21] KiwiB0y opened #1092 "Broken link: k-D Trees"
Hi @jwasham,

I found a broken link in the [README.md](https://github.com/jwasham/coding-interview-university#readme) in the section [k-D Trees](https://github.com/jwasham/coding-interview-university#k-d-trees).

I tried to open the link, but it seems to be "no longer available due to a copyright claim by Kevin Wayne".
  - [Kd Trees (video)](https://www.youtube.com/watch?v=W94M9D_yXKk)

Thanks in

[2022-02-25 01:38] jwasham commented on #1092
Thanks, I've removed it.

[2022-02-25 01:38] #1092 closed

[2022-02-28 15:42] KiwiB0y commented on #1080
Reopening this issue because of a pending pull request. #1093

[2022-02-28 16:52] jwasham commented on #1080
You can keep this open to cover all future updates.

[2022-03-03 17:26] Pratikb02 opened #1094 "Learning to code"
Switch from mech. Engineer to cse

[2022-03-04 17:03] #1094 closed

[2022-03-05 02:21] aftabalam96 opened #1095 "Uk"

[2022-03-05 02:21] #1095 closed

[2022-03-05 20:44] best-seller opened #1096 "New project"

[2022-03-05 20:44] #1096 closed

[2022-03-08 17:24] pramitsingh0 opened #1101 "Corusera Data Structures link not working"
Links to some videos of the course "data structures" on coursera are not working. They are showing 404. We were not able to find the page you're looking for.
Links to videos on Array section `Arrays` and `Dynamic Arrays` for example are not working.

[2022-03-10 20:15] brawll commented on #1101
Also there is [Algorithms on Graphs (video)](https://www.coursera.org/learn/algorithms-on-graphs/home/welcome), which now shows invalid.

[2022-03-11 01:22] jwasham commented on #1101
Thank you both. I'll take a look.

[2022-03-12 04:48] Srikanth-Macha commented on #1087
I've completed the translation to Telugu language ..... please check

[README.md](https://github.com/jwasham/coding-interview-university/files/8237085/README.md)

[2022-03-12 09:59] Waverunner101 opened #1102 "Programming"

[2022-03-12 09:59] #1102 closed

[2022-03-12 16:57] devkakeri06 commented on #1002
I am a native marathi speaker, but I don't know how to do it because its my first time contributing to Open Source. Can you please guide me!

[2022-03-12 19:23] jwasham commented on #1002
Here is how to get started: https://github.com/jwasham/coding-interview-university/issues/125

[2022-03-12 19:26] jwasham commented on #1087
Please make a pull request @Srikanth-Macha

[2022-03-18 05:31] Nageshwaram commented on #1101
Great repository.for opportunity.

[2022-03-19 11:39] bhumikatewary opened #1112 "Update programming-language-resources.md #1111"
Hello, I have made a PR as I have updated a README.md file and have added resources.
 Update programming-language-resources.md #1111
Please review it. Thank you

[2022-03-19 16:45] Gunessina commented on #1101
Hi @pramitsingh0,
Title is still wrong. Should begin with **Coursera**, not **Corusera**.

[2022-03-27 10:11] SameerSahu007 opened #1121 "About Implementation of some Data Structures"
Can I add Implementation of some data structures in Java. I think it would be helpful if someone get stuck while implementing it by themself.

[2022-03-27 11:32] Anri-Lombard opened #1122 "Website for Coding Interview University"
Hi John,

Do you think it is worth building a neat website for your curriculum with Angular? I've got some experience with it and there are a few advantages:
1. More accessible to beginners that are not comfortable with GitHub yet,
2. Easier to navigate if we can create with a router than continuously scrolling, and
3. Easy to revert back to the current format if it does not work out.

Potential d